[2015-07-08 22:55] Zodiase opened #1 "Not auto-upgrading when layout doesn't change."
I found that when different routes share the same layout, the layout doesn't get re-rendered so no auto-upgrading is done even when some portion of the DOM may have been changed.

I need to go back to the original thought: whenever a template gets rendered, auto-upgrade.

[2015-07-08 23:29] Zodiase opened #2 "template.events doesn't work in MDL components."

[2015-07-08 23:57] Zodiase opened #3 "Dynamically rendered templates/regions need auto-upgrading."
I added [this demo](https://github.com/Zodiase/meteor-mdl/tree/master/demo/blaze) to show how dynamically rendered DOM content are not upgraded.

I need to find a way to do batch upgrading when changes to the DOM are detected.

[2015-07-09 00:13] Zodiase commented on #3
Well, currently the workaround is, whenever you expect DOM has been changed, call

[code]

or, better if you know exactly what's new, use `componentHandler.upgradeElement`.

However it's important to only upgrade when you _know_ that the changes are effective.
For example, the following code won't work.

[code]

[2015-07-09 01:22] Zodiase commented on #3
Commit 7b763fddfdf3ea91cb53709f1f2dce51819cd03a added a patch for calling auto-upgrade whenever a change is detected in DOM.

It uses [MutationObserver](https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver) which is not compatible with old browsers. If MutationObserver is not available, it falls back to the old approach, which still has bugs.

I'm not satisfied with the current implem

[2015-07-09 16:08] Zodiase commented on #1
The new blaze patcher helps resolving this problem in the latest browsers. Also issue #3 is covering this. Closing this now.

[2015-07-09 16:08] #1 closed, assigned to nobody

[2015-07-09 16:16] Zodiase commented on #2
To describe this in more detail:
I tried having a [Scrollable tabs](http://www.getmdl.io/components/index.html#layout-section/tabs) layout in the body, a button inside one of the tab's section and one outside of the layout. I also have an event listener for button clicking events. The listener responds to clicks on the button outside but not the one inside.

[2015-07-11 18:57] kokjinsam opened #4 "Meteor.logout Not working"
Hey,

Thanks for making this package! It's really neat and nice!

[code]

I tried to do Meteor.logout() but it didn't work. Then I removed your package from my app and the logout function worked properly. The click event was not registered. Can you please take a look? Thanks!

[2015-07-11 21:08] Zodiase commented on #4
@skaxwng
I'm glad you like it :)

Is the `<a class="mdl-navigation__link" href="" id="logout">Sign Out</a>` inside another MDL component? If so, it's known in issue #2 that, well, this happens. I'll look into that.

I'd like to make sure this is not another bug. So I guess you don't even get the result of `console.log('h');` in console, right? And would it work if you call `Meteor.logout()` in the

[2015-07-11 21:40] kokjinsam commented on #4
Yes, the link is within another MDL component and no result from console.log('h'). Meteor.logout() works in the console.

Thanks for fixing the bug! Look forward to it.

[2015-07-12 01:22] kokjinsam opened #5 "Exception from Tracker recompute function"
Hey,

I got this error while working on my app:

[code]

Do you have any idea what might cause this error? I removed your package and everything worked fine without errors.

[2015-07-12 01:27] Zodiase commented on #5
I've never seen this before. Could you give an example to reproduce this error?

[2015-07-12 02:15] kokjinsam commented on #5
If you are not passing anything into a yield region, you will get the error. For example,

Assuming you have two routes: '/demo' and '/demo/test'. Both routes have the same layout template as below:

[code]

'/demo' route - Render templates into header & footer region
'/demo/test' - Don't render any templates into header region.

Go to '/demo' then '/demo/test', then you should be able to see the

[2015-07-12 07:07] Zodiase commented on #5
Unfortunately I was not able to reproduce the error you encountered.
Here's what I tried:

[code]

[code]

Clicking through these two pages shows no error to me.

What version of the package are you using? The latest one is v1.0.0-4.

[2015-07-13 04:09] kokjinsam commented on #5
Hey,

Yes, I'm using v1.0.0.4. I tried to reproduce the error and failed as well. For some reasons, I don't see any errors in my app now. Maybe it was my code that caused the problem. Thanks!

[2015-07-13 04:09] #5 closed, assigned to nobody

[2015-07-13 04:15] kokjinsam opened #6 "Multiple 'mdl-layout__container' class"
I have multiple layout templates that each contains different:

[code]

Whenever I load a new page with different layout, additional

[code]

will be injected. For example, if I go to page 1 with layout 1, I will see one class="mdl-layout__container.  But if I go to page 2 with layout 2, I will see two class="mdl-layout__container. See below.

![image](https://cloud.githubusercontent.com/assets/91

[2015-07-15 07:27] freiit opened #7 "Feature Request: Color Settings"
Like what you did here! :+1:

I don't know enough internals about mdl, but it should be simple to choose the different colors? Can you add a settings option? http://www.getmdl.io/customize/index.html

[2015-07-15 07:50] niranjans commented on #7
+1

[2015-07-15 15:27] Zodiase commented on #7
I'd love to do this if it was that trivial. (sign)

For now the best workaround I can think of is adding the stylesheet of your choice manually in the <head> section of your template, which should be appended after all the package content and therefore overwriting the current stylesheet in this package.
This, however, as you can imagine, could double the size of the stylesheets sent to the client,

[2015-07-16 07:57] freiit commented on #7
I diff-ed the files. The only difference is really the color code and I found only a few colors that change:
In the original you find
Pink: rgb(255,64,129)
Blue: rgb(63,81,181)
"Black": rgb(66,66,66)
By replacing these codes with a new color you almost get the same css as you would get when you download directly, but unfortunately there are a few places where the "black" is not replaced and there

[2015-07-17 02:46] Zodiase commented on #2
@skaxwng
This is embarrassing but I can't reproduce this error either. Do you still have this issue?

[2015-07-17 07:37] Zodiase commented on #2
@skaxwng
I finally found a way to reproduce the error :)

[2015-07-17 07:52] Zodiase commented on #2
This bug only appears when Iron:Router is used.

[2015-07-17 18:54] Zodiase commented on #2
[This pad](http://meteorpad.com/pad/N57ogzG8r4gDdiJ24/meteor-mdl%20issue%202%20demo%20%28without%20iron%20router%29) shows that it's fine without using Iron:Router.

[2015-07-17 19:28] Zodiase commented on #2
Interesting, even with Iron:Router, things are fine in [this pad](http://meteorpad.com/pad/MqgDbPQZzvibSNWrJ/Copy%20of%20meteor-mdl%20issue%202%20demo%20%28with%20iron%20router%29)

[2015-07-17 20:40] Zodiase commented on #2
OK I think now I understand what's going on.

**Solution: For `template.events` to work, always have a non-mdl container wrapped outside of the content of the template. In other words, don't use mdl on the outer most element of your templates.**

Detail:
Blaze template constructor adds event listeners **to the outer most element of the template** to monitor events originated from inside the templa

[2015-07-17 20:40] #2 closed, assigned to Zodiase

[2015-07-17 20:41] Zodiase commented on #4
I found the cause and the solution, see issue #2.

[2015-07-17 20:41] #4 closed, assigned to nobody

[2015-07-17 20:53] Zodiase commented on #2
@skaxwng
Let me know if this solves your issue.

[2015-07-17 22:13] Zodiase commented on #6
I believe this could be solved quite similarly as issue #2. They are of the same cause.

Solution: Don't use mdl on the outer most element! Just add another wrapper around it would make you safe.

Cause: Blaze tracks the outer most element as the sort of "package box" of your templates. When another template (including layout) needs to replace the current one, the current "package box" gets remove

[2015-07-17 22:13] #6 closed, assigned to Zodiase

[2015-07-18 16:26] Cirych opened #8 "Menus not working"
Menu items not respond on click event in helper. Only menu button can do it.

[2015-07-18 20:30] Zodiase commented on #8
Could you be more specific or better provide a demo reproducing the error?

[2015-07-20 09:29] Cirych commented on #8
index.html
--------------
  <button id="demo-menu-lower-left"
        class="mdl-button mdl-js-button mdl-button--icon">
  <i class="material-icons">more_vert</i>
</button>

<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
    for="demo-menu-lower-left">
  <li class="mdl-menu__item">Some Action</li>
  <li class="mdl-menu__item">Another Action</li>
  <li disabled class="m

[2015-07-20 09:35] Cirych commented on #8
index.html

[code]

app.js

[code]

Click event works only on button, not on menu items.

[2015-07-20 23:18] Zodiase commented on #8
Duplicate to issue #2.
Try avoid using mdl elements on the root level of any template.
In other words, always have a non-mdl wrapper around templates.

See the demo code for this issue for details.
Closed.

[2015-07-20 23:18] #8 closed, assigned to nobody

[2015-07-20 23:21] Zodiase commented on #2
**Note that this is a big compatibility issue with Blaze and MDL in their way of doing things. I don't know what this package could do to help. The fix is rather simple anyway.**

[2015-07-21 14:51] benjick opened #9 "Icons on Cordova"
Hey

When building for cordova (android and android-device) icons are just displayed as text.

Can be tried with https://github.com/benjick/droidarr -> meteor run android

[2015-07-21 14:52] benjick commented on #9
![screenshot_2015-07-21-16-51-38 1](https://cloud.githubusercontent.com/assets/430872/8803757/f634cea4-2fc8-11e5-8505-5eed9733a2db.png)

Example, menu and search icons

[2015-07-21 15:02] Zodiase commented on #9
Well, the icon font is not included in the package, but instead downloaded from google fonts api so you would need network access and whitelist https://fonts.googleapis.com/

[2015-07-21 15:06] Zodiase commented on #9
Possibly also need to whitelist https://fonts.gstatic.com/ since that's where the type faces are.

[2015-07-21 15:13] benjick commented on #9
I see, I only whitelisted http://*. Thank you

[2015-07-21 15:13] #9 closed, assigned to nobody

[2015-07-24 16:55] Zodiase commented on #7
For anyone who's still looking into this:
All the available color presets are defined here: [palette.scss](https://github.com/google/material-design-lite/blob/master/src/palette/_palette.scss).
The default build still contains these so which ever color you want, just add the class name and you are good to go.

You could also change the default color variable here: [variables.scss#L85](https://gith

[2015-08-12 12:41] victorhooi opened #10 "Tables not updating correctly - refreshing the page resolves it"
I'm using the CSS from material-design-lite, along with the MDL JS from your package.

I have a MDL table - when I add/remove data to it reactively, the columns seem to be off by one:

![screenshot 2015-08-12 22 37 13](https://cloud.githubusercontent.com/assets/243499/9224102/4449d0f4-4143-11e5-8764-0781bcec74dc.png)

If I refresh the page, the table then renders correctly:

![screenshot 2015-08-1

[2015-08-12 21:46] Zodiase commented on #10
@victorhooi Hey thanks for pointing this out!
I think the `mdl-data-table--selectable` option for data tables is really broken. According to [this line](https://github.com/google/material-design-lite/blob/master/src/data-table/data-table.js#L137), MDL only adds those checkboxes at the time of upgrading a data table. **If any row is added after the upgrading, no checkbox will be added**. In short,

[2015-08-12 21:49] Zodiase commented on #10
There are [quite many issues related to the data table component](https://github.com/google/material-design-lite/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+data+table+).

[2015-08-12 21:59] Zodiase commented on #10
I would strongly recommend avoid using `mdl-data-table--selectable` and if you need the checkboxes, implement them on your own.

[2015-08-12 23:02] Zodiase commented on #10
Check out the demo project to see how the checkboxes could be easily implemented without using `mdl-data-table--selectable`.

[2015-08-13 14:01] ojenksdev commented on #3
Having issues with updating the DOM automatically using FlowRouter. Seems to break every time. Should componentHandler.upgradeAllRegistered() be added after each route?

ie:

[code]

First time implementing mdl with meteor, so any advice would help!

Thanks!

[2015-08-13 14:48] Zodiase commented on #3
@ojenksdev Thanks for reporting this. Could you fire a new issue for this? This issue is not intended to cover every upgrading issues but only the generic ones in Meteor. In the new issue, it would also be very helpful to provide the steps to reproduce the errors you are experiencing and what packages and what versions you are using.

[2015-08-13 19:37] ojenksdev opened #11 "Dynamically Rendered Templates"
I originally posted on the other issue thread. - Here is one of the error messages we are having:

[code]

[2015-08-13 19:57] Zodiase commented on #11
Could you give a code example that I could use to reproduce the error? By this error message I can't really tell what's causing it.

[2015-08-13 20:01] Zodiase commented on #11
In fact it's best for you to provide a complete project that contains this error, since other installed packages could also be part of the cause.

[2015-08-13 20:11] ojenksdev commented on #11
We have the files on a private repository, but I zipped the complete package so far, - https://drive.google.com/file/d/0BzgJgYHhx56AeEpjdFY3S0I3b2M/view?usp=sharing

[2015-08-13 21:48] Zodiase commented on #11
OK...
The cause of the error is the fact that you separated `<div class="mdl-layout__header-row">` and `<header class="mdl-layout__header">` in two templates. Both of them need to be present so that MDL can upgrade them correctly and after that they should not be taken apart or the MDL component may break.

[2015-08-13 22:29] Zodiase commented on #11
Oh and also you don't need to call `componentHandler.upgradeAllRegistered()` because this package calls it for you.

[2015-08-13 22:43] ojenksdev commented on #11
Ok so should I add the mdl-layout__header-row to all of the templates I build? Or add the `header class="mdl-layout__header"` to my mainLayout template?

[2015-08-13 22:49] Zodiase commented on #11
Since it looks like you would have different `mdl-layout` (with and without tab bar) for different routes, either use different layouts for the ones without tab bars and the ones with tab bars, or put the `mdl-layout` inside templates. The goal is to keep the major components of a `mdl-layout` together.

[2015-08-14 12:23] ojenksdev commented on #11
It works now! Thanks for the help!

[2015-08-14 13:48] #11 closed, assigned to nobody

[2015-08-17 14:24] Zodiase opened #12 "Blaze Patcher not working for Safari"

[2015-08-17 15:04] #12 closed, assigned to Zodiase

[2015-08-18 02:34] victorhooi opened #13 "MDL 1.0.3 is out"
Just a headsup that MDL 1.0.3 is out upstream! =)

[2015-08-18 02:37] Zodiase commented on #13
@victorhooi Yep saw it and was preparing for updating. :)
But sadly there seems to be a bug in it. I posted the issue here google/material-design-lite#1416. So I'm waiting for the response.

There were quite a lot PRs in this one and I wasn't able to catch all of them. Anything particular interesting to you?

[2015-08-18 06:34] ghost opened #14 "I can't get mdl-layout__tab is-active to work."
I made a [meteor pad](http://meteorpad.com/pad/nriiFxdEfkA4CTdcS/zodiase:mdl%20mdl-layout__tab%20is-active%20error) of the [Fixed tabs](http://www.getmdl.io/components/#layout-section) example to show the error. The is-active class just does not seam to work. It also returns the error Uncaught TypeError: Cannot read property 'querySelectorAll' of undefined in the client console.

[2015-08-18 13:07] Zodiase commented on #14
I think this is caused by the way how MDL components work at the moment.
**In short: For tab-bar to work, the tab content sections have to be present before upgrading.**

When MDL is upgrading `mdl-layout` and sees `mdl-layout__tab-bar` in the header, it will try to find `mdl-layout__content` among the children of `mdl-layout`. Then inside `mdl-layout__content` it will try to find `mdl-layout__tab

[2015-08-18 13:14] Zodiase commented on #14
See [how it works just fine in this meteor pad](http://meteorpad.com/pad/kQcxKtHCityPE5KRN/Copy%20of%20zodiase:mdl%20mdl-layout__tab%20is-active%20error).

[2015-08-18 19:47] Zodiase commented on #13
Updated package to 1.0.3. Available through `meteor update`.

[2015-08-18 19:55] #13 closed, assigned to nobody

[2015-08-20 07:14] #14 closed, assigned to nobody

[2015-08-20 23:05] ghost opened #15 "Routeing With tabs does not work"
Here is a [meteor pad](http://meteorpad.com/pad/bXdqA9zWWTGx9PwvP/zodiase:mdl%20mdl-layout__tab%20is-active%20routeing%20error) showing the issue. You will notice routes are not working at all. The issue again stems from mdl-layout__tab-panel class in particular the way mdl routes to them. you will see this in the error it returns. This renders tabs completely useless if they can't be routes. I am

[2015-08-21 00:51] Zodiase commented on #15
@noah2828 Hi there. I don't think you are using the tabs correctly.

More specifically to your example there, you don't have the correct IDs for the tab. You could see in [this meteor pad](http://meteorpad.com/pad/kQcxKtHCityPE5KRN/MDL%20Tab%20Layout) that the tab layout works just fine even with Iron:Router. Or [this one](http://meteorpad.com/pad/PJFGHTGWZSmTsTzdJ/MDL%20Tab%20Layout%20with%20Cont

[2015-08-21 01:17] ghost commented on #15
The tab system works for static sites but when you are loading in new content and using pagination it increases load time and complexity of the the templates. That is why other frame works mainly use routes not tabs.

[2015-08-21 01:47] Zodiase commented on #15
You are talking about using tabs for pagination? I don't suppose that's what tabs should do. For tabs, the content of each tab panel stays on the page, just visually hidden. For pagination, each page gets loaded and unloaded. You would want to have your own implementation of tabs for pagination because for now dynamically adding MDL tabs is impossible because all the binding of tabs are done once

[2015-08-21 01:58] Zodiase commented on #15
I added some comments to the meteor pad to better explain it. In that example I still keep all the tab panels on the page to match the behavior of MDL tabs. But you could easily change that to have just the active tab panel on the page.

[2015-08-21 02:16] Zodiase commented on #15
FYI I fixed a bug in that example and the tabs should work now.

[2015-08-21 02:56] ghost commented on #15
thanks but no I don't mean what you think I mean. I mean because everything loads up but is hidden it increases load time and code complexity especially if you have pagination the in templates you are loading. Where as in bootstrap and others you use a separate router. When using a separate router you get more control over how much data and what data is sent to the client in the form of specifying

[2015-08-21 03:02] Zodiase commented on #15
Ok that's workable. Mostly just like what I did in that example, catch the click event and get the enough data from the tab button and update the content (and the url if you want). To satisfy the MDL tab buttons, make their `href`s all point to an irrelevant hidden target and there you go.

[2015-08-23 11:52] vuhrmeister opened #16 "Include sass version"
I would like to be able to use mixins and varialbes defined in mdl project. So it would be nice if they were available.
Otherwise I need to include and maintain them separately.

[2015-08-24 16:42] ghost commented on #15
I created a fork so Routing can work in tabs

[2015-08-24 16:42] #15 closed, assigned to nobody

[2015-08-28 11:18] 6gsaifulislam opened #17 "example: of Material Icons Typeface"
v1.0.2-1 Included Material Icons Typeface file in the package so your app can go completely offline.

Could you please provide example of how to use MDL lite Icons using the offline version.

[2015-08-28 15:46] Zodiase commented on #17
https://www.google.com/design/icons/ has the complete list of all available icons. Find what interests you, note its name, "3d rotation" for example, use underlines in the place of spaces and use this html code:

[code]

Note that the tag could be anything as long as it supports inner text nodes. With the class `material-icons`, the text inside would be rendered as the corresponding icon. And you

[2015-08-28 17:10] 6gsaifulislam commented on #17
Thanks that is the same format I have been using, did a meteor update and the icons display ok even when disconnected from network.  I normally run a meteor update once a week - must have missed the updated versions.

[2015-08-28 17:10] #17 closed, assigned to nobody

[2015-08-28 18:41] Zodiase commented on #17
That might be the issue with meteor package manager. I follow the package versioning instruction and use mainVersion-revision format but somehow meteor package manager considers 1.0.1 more up-to-date than 1.0.1-1 for example. I tested and found even with 1.0.2-1 released, using meteor update always gets me 1.0.2 instead. I had to do `meteor add zodiac:mdl@=1.0.2-1` to work around.

[2015-09-01 10:14] SPAHI4 commented on #16
+

[2015-09-03 14:49] Zodiase commented on #16
I'll see what I can do.

[2015-09-03 14:50] #10 closed, assigned to nobody

[2015-09-15 08:25] vuhrmeister commented on #14
May I come back to that issue? What you write in https://github.com/Zodiase/meteor-mdl/issues/14#issuecomment-132200128 makes totally sense.

My issue (and I can't imagine, that I'm the only one) is that the tabs shouldn't be visible on all routes. So in my case I have different routes. But only on the admin route I need and want to render tabs. And following Material design rules they should be i

[2015-09-15 15:20] ghost commented on #14
I have do not know if this will fix your issue particularly but I forked
this package to mdl reputable tabs package you can find it in atmosphere.
That will at least all you to use your tabs with a router. As to having a
admin only route you could create a ifadmin helper and wrap any thing you
need to in that.

On Tue, Sep 15, 2015, 4:25 AM Valentin Uhrmeister notifications@github.com
wrote:

[2015-09-15 20:10] vuhrmeister commented on #14
I already found your package. But I'm not sure this will solve my problem.

[2015-09-15 20:23] ghost commented on #14
Why does putting them in your admin tab not work? Please explain that more?

[2015-09-15 22:14] Zodiase commented on #14
Hey guys, just wanna say I'm on a business trip and when I get time I'll catch up with you guys. :)

[2015-09-18 20:27] Zodiase commented on #14
@vuhrmeister
One solution I have in mind would be, disable auto-upgrading before rendering the layout, and re-enable it when you know that everything is ready for the tabs.

To do so, call `MDl.envConfig.patchers.blaze.setUpgradeStyle('none')` to turn auto-upgrade off, and then call `MDl.envConfig.patchers.blaze.setUpgradeStyle('fullUpgrade')` to re-activate auto-upgrade.

To avoid exceptions, che

[2015-09-22 16:15] vuhrmeister commented on #14
I tried this already and it didn't work somehow. Possibly I didn't do it the right way.

Anyway, the tabs will change during navigating through the app so I would change upgradeStyle multiple times.

For now I can live with having a separate layout template. I will follow the topic and maybe in future there will be a nice solution.

[2015-09-22 20:02] Zodiase commented on #14
@vuhrmeister I think Google should really change how the binding is done to make it more friendly to dynamically changing contents/layouts. Currently most components only work nicely when they are static (gets on/off the DOM completely).

On the side, I think I have an idea to make it work. Give me some time to get a demo for ya.

[2015-09-22 23:22] Zodiase commented on #14
@vuhrmeister I tried multiple strategies but the working ones all require writing separate `mdl-layout` components and they have their own issues. Another potential solution is manually creating a BlazeView for `mdl-layout` that destroys and re-renders itself when tabs change. [This MeteorPad](http://meteorpad.com/pad/r6GaF5JtLLnFLxDeu/Dynamic%20Layout) shows one hacky way of force re-rendering la

[2015-09-23 08:51] vuhrmeister commented on #14
Yep, I'm definitely on your side. And I don't really understand why Google did it this way. I mean nowadays with all the dynamic SPA this is not really state of the art.

But thanks for your effort, will have a look at your idea.

[2015-10-15 12:13] pdxbmw commented on #16
At this point, this is a big limitation with using MDL and Meteor; there doesn't seem to be an _easy_ way to access SASS resources. I'm using your `meteor-mdl` library, but have had to manually download the SASS stylesheets from `getmdl.io` and store them in my client-side assets folder. Further, I had to modify the stylesheet `import` statement paths for it to function properly, which was cumbers

[2015-10-16 04:12] pdxbmw commented on #16
I believe I have a solution for this. I'm a bit tired at the moment so I'll look it over in the morning and create a pull request if it all checks out.

[2015-10-21 15:13] Devuiux opened #21 "Trojan"
Category: Trojan

Description: This program is dangerous and executes commands from an attacker.

Recommended action: Remove this software immediately.

Items:
file:C:....meteor\packages\zodiase_mdl\1.0.5\web.browser\material.js

[2015-10-21 16:06] Zodiase commented on #21
Which security software reported this?
Here's a malware scan report I got with the file on my computer: https://www.metascan-online.com/#!/results/file/98a48b2fdba349578cd1b0c2afbd7495/regular.
You could also diff the file with [the official MDl library here](https://storage.googleapis.com/code.getmdl.io/1.0.5/material.js) to see if there's anything suspicious.
If that file is altered in any way,

[2015-10-21 17:19] Devuiux commented on #21
a security component from Windows 10, but it got the same with the mdl components from https://storage.googleapis.com/code.getmdl.io/1.0.5/mdl-templates.zip

[2015-10-21 17:45] #21 closed, assigned to nobody

[2015-11-07 05:12] bwobst opened #22 "Unable to add dashboard template from getmdl.io"
Hi, I'd like to use this dashboard template: http://www.getmdl.io/templates/dashboard/index.html.

When I try to implement it, the interactive elements like the collapsed left drawer and expandable search bar don't work.

I tried breaking out the header, drawer, and main into their own templates.  I also tried creating special templates that pass in the container divs, header content, and script c

[2015-11-07 07:19] Zodiase commented on #22
Well... First thing... I think you are not using my package?

[2015-11-07 07:27] Zodiase commented on #22
One thing I'd like to note here is that, if you check the code of the layout component [here](https://github.com/google/material-design-lite/blob/v1.0.6/src/layout/layout.js), when the layout component initializes ("upgrades" as Google calls it), it links the `header`, `drawer` and `content` elements right then and there. So I wouldn't suggest splitting them into different templates in any circums

[2015-11-07 14:52] bwobst commented on #22
I tried using your package, but got the same issue.  That MeteorPad is just an illustration.  Try swapping out the spectrum package for yours.

Something I also tried was wholesale copying all of the `head` and `body` content from that dashboard with Chrome's Inspector, but that didn't work either.

[2015-11-07 22:10] Zodiase commented on #22
Alright. It happens that I have a demo of that dashboard template prepared quite a while ago. I'll make a MeteorPad once I dig that out.

I think I'd explain that, most components in MDL rely heavily on JavaScript and they create helper elements and modify properties for you which simplifies the html code you need to write. While the components do their JavaScript work, they left marks on the elem

[2015-11-07 22:18] Zodiase commented on #22
Actually it might be easier this way... Download the repo at commit 20456639b84bf197cc79f23afcbcd9a8a4fba80b [with this link](https://github.com/Zodiase/meteor-mdl/archive/20456639b84bf197cc79f23afcbcd9a8a4fba80b.zip), you should find a `demo` folder, and in it, there's an `iron-router` folder. That is a meteor app folder, so run `meteor` inside it to bring it up running, and you can check the res

[2015-11-08 00:26] bwobst commented on #22
That's working for me.  Thanks @Zodiase!

[2015-11-08 00:26] #22 closed, assigned to nobody

[2015-11-30 17:11] KristerV commented on #7
uh, not very clear.

I want to change the color theme entirely. What's the easiest way to do this?

edit: just downloading the file and saving it works: http://www.getmdl.io/customize/index.html

[2015-12-04 18:58] javdl opened #24 "Fonts do not load anymore when Meteor runs in subfolder"
Since updating Meteor to 1.2 + latest package fonts are not loaded when running Meteor in a subfolder. Our apps run with:
ROOT_URL=https://example.com/some-subfolder-name

Previously this worked fine with this package, now it is broken cause it tries to load the fonts from example.com/packages/zodiase_mdl/fonts/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2
while it should be
example.com/some-s

[2015-12-04 20:00] Zodiase commented on #24
For the moment you could add this to the `<head>` to load the font from Google directly.

[code]

I've never put my apps under any subfolder so this issue never came up to me. I don't have a setup here with a meteor app running in a subfolder. Do you have some quick instructions for setting things up to reproduce the situation you are having so I could check if my fixes will work for you?

[2015-12-04 20:07] Zodiase commented on #24
I guess one easy fix would be reverting to the old time when I just embedded the font files in the css file. That way I don't need to deal with this path issue. But that way we sacrifice some bandwidth as the browser would download all the font data even only one of them is needed.

[2015-12-04 20:36] Zodiase commented on #24
I just published a new version `1.0.6_2` with a fix I think works. Let me know if it's not working.

[2015-12-14 06:52] Zodiase commented on #16
@vuhrmeister  I'm not clear about something; if I include a sass file in the package, would you be able to directly use it? Because I think in the end meteor would process all package files into final css and js files, at which point there are no sass files whatsoever. Am I missing something here?

[2015-12-14 07:02] Zodiase commented on #7
@KristerV Yes overriding the colors with a new theme css file sure works. However the officially provided themes are limited and at some point people would want more freedom in terms of customizing color (though I think that color wheel can provide enough variations).
Also doing this would cause about 124KB more css code to be sent to the client and would render the about 302KB css code from this

[2015-12-14 07:06] Zodiase commented on #7
I couldn't find a way to allow users to have custom settings for packages. Does anyone know how to do that?

One approach I thought about was to include all files from [mdl's release branch](https://github.com/google/material-design-lite/tree/release) so you can go into the [`src` folder](https://github.com/google/material-design-lite/tree/release/src) and modify the [`variables`](https://github.c

[2015-12-14 09:39] Zodiase commented on #7
Hey guys I came up with a solution that somewhat works.

If you want to try it out, clone [the `support_settings` branch](https://github.com/Zodiase/meteor-mdl/tree/support_settings) and add it as a local package to your app.

**To use the new feature, create a `zodiase-mdl.json` file under the root of your app. This file is going to store all settings for this package in the future. For now, let'

[2015-12-14 15:13] RobinVanCauter commented on #16
We actually pulled your package and integrated a SCSS version of it, been using it for quite a while now without any issues.

I uploaded it so you can have a look at it: https://github.com/moonkinco/moonkin-mdl

Might be a bit messy in some places because we did not actually intend on sharing it anytime soon (we don't have time to actually properly maintain a package like that at this point) and i

[2015-12-18 15:19] vnmone opened #25 "Form submit event doesn't fire"
Here is meteorPad example:
http://meteorpad.com/pad/zjtAP3zeFQBAth2ax/Copy%20of%20material-design-lite-test

submit event doesn't fire.

without mdl pack works properly

[2015-12-19 00:59] Zodiase commented on #25
Duplicate of #2.

[2015-12-19 01:03] Zodiase commented on #25
In short, blaze (Template) events are registered on the root element(s) of individual templates. However, MDL components sometimes shift elements around. In this case, for example, the layout component would create a wrapper container element and move itself inside that container. During this process, all the event listeners associated with the root element (the mdl-layout element) get destroyed.

[2015-12-19 01:03] #25 closed, assigned to nobody

[2015-12-21 09:42] vnmone commented on #25
Sorry for my blindness.

[2015-12-30 16:36] ramijarrar commented on #16
@Zodiase Any updates on this?

[2015-12-30 21:35] a-vasyliev commented on #3
I guess I have same issue. I have table with data, it gets updated "on the fly" via live query, but new table records appears without checkboxes (added by JS part of MDL).. How to force it to redraw?

[2015-12-31 09:38] Zodiase commented on #3
Hi @a-vasyliev if you are talking about the table row checkboxes, check out issue #10.

[2015-12-31 10:11] Zodiase commented on #16
@T-Grave It that the only way to allow scss files to be accessible to the app? If I don't use the `fourseven:scss` package and the `{isImport:true}` option, would that still work? I'm asking because I'm worried that these scss files would be converted to css code and sent to the client which would cause issues.

[2015-12-31 10:33] Zodiase commented on #16
Also I'd like to ask: if you have access to those raw scss files (directly from google's mdl), would you still need this package to add the built css file? Note that during the build process some images were embedded into the css code so if you are just using those scss files, you are missing those images and could have issues with that.

[2015-12-31 11:25] ramijarrar commented on #16
You can fix the images problem by serving them like you have done with the fonts.

I have a functioning example here: https://github.com/talos-code/mdl

[2015-12-31 11:44] a-vasyliev commented on #3
@Zodiase Thank you!

[2015-12-31 11:54] Zodiase commented on #16
@ramijarrar That's not going to work nicely though. I haven't tested but I'm guessing in your example it might not work at all due to the incorrect path. Let's say the meteor app is running at `/app/`, then the files added by packages would be accessible at `/app/packages/package_name/file.ext`. <del>If the scss files were built into css code and served by this package then the css file is likely

[2015-12-31 12:30] ramijarrar commented on #16
Notice that I am correcting this by setting the $image_path variable

[2015-12-31 12:42] Zodiase commented on #16
@ramijarrar Oh sorry didn't spot that. Although the path should be `packages/talos_mdl/images` (without the leading "/") or it doesn't work with apps not running at root.

Now it looks like it should work. I'll setup a branch for testing soon.

[2015-12-31 14:58] Zodiase commented on #16
The test branch is up with the above commit. Check it out and if it's good then I'll publish it ASAP as `1.0.6_3`.

Edit:
I'm still using the pre-built css file and these added scss files are only for importing. Issues related to themes and color settings please refer to issue #7. Though this branch also includes changes proposed in that issue.

[2015-12-31 16:26] ramijarrar commented on #16
How will this cater for people who don't want to use Sass?

[2015-12-31 16:27] ramijarrar commented on #16
Also, how are you handling the issue with the images here? Is the user expected to change the variable himself?

[2015-12-31 16:31] ramijarrar commented on #16
So will this mean essentially loading mdl twice when importing the Sass?

[2015-12-31 16:33] Zodiase commented on #16
@ramijarrar This branch is specifically for the PO who wants to "use mixins and varialbes defined in mdl project". I'm guessing some users may want to come up with other components/designs that follow the styles of mdl so it could be helpful to reuse. If they don't, then this change doesn't make any difference since the added files are flagged with `{isImport: true}` and will not be added to the m

[2015-12-31 16:35] ramijarrar commented on #16
So in that branch the pre-built css is not included?

[2015-12-31 16:41] Zodiase commented on #16
@ramijarrar It is included. However the scss files will not affect the merged css file due to that import flag. I expect whoever wants to use the scss files should know the consequences. For example, if they import a scss file of the checkbox, then sure that part of the css code would essentially be sent twice, and of course there would also be that image issue they need to be aware (I haven't inc

[2015-12-31 16:45] ramijarrar commented on #16
Why not just separate the js and provide different code for Sass/pre-built CSS users? A lot of the current complexity would probably be eliminated that way and the separation of concerns is already viisble (for example, Sass users are not interested in color settings/theming code while CSS users don't have any issues with image paths).

[2015-12-31 16:52] Zodiase commented on #16
@ramijarrar I have thought about the option of having `mdl` as the js package and maybe `mdl-theme` as the pre-built css package and maybe `mdl-scss` for the scss files. But that way there'd be more packages I have to maintain and for the users there would be at least two copies of mdl distribution package with each only serving half the purpose. More importantly, does that also mean if they don't

[2015-12-31 17:06] ramijarrar commented on #16
There are other ways to accomplish this if you don't want to separate the package (on the same wavelength as the settings file you implemented) it's just that the added complexity will probably mean things will start getting out of hand really quickly.

Now with regards to color settings, I don't see any reason why the original code you wrote would no longer be valid?

[2015-12-31 17:06] ramijarrar commented on #16
There are other ways to accomplish this if you don't want to separate the package (on the same wavelength as the settings file you implemented) it's just that the added complexity will probably mean things will start getting out of hand really quickly.

Now with regards to color settings, I don't see any reason why the original code you wrote would no longer be valid?

[2015-12-31 17:15] Zodiase commented on #16
@ramijarrar I'd like to know if there are other ways of making a package configurable. I barely came up with that solution and it's really hacky and isn't friendly at all (with the necessity to reset an app just to change the theme).

If I allow the theme package to be configurable while having a separate scss package, I don't see why it's worse having everything together. By default the scss file

[2015-12-31 17:19] ramijarrar commented on #16
As long as there is a way to disable the default theme it should be fine.

[2015-12-31 17:20] ramijarrar commented on #16
The other thing is you could just let the user bring his own css/Sass and forget the whole settings which is really hacky as you said and adds a lot of complexity.

[2015-12-31 17:23] Zodiase commented on #16
@ramijarrar I somehow believe to most meteor users maintaining the correct version of css file corresponding to a js package isn't fun. :p

[2015-12-31 17:45] Zodiase commented on #16
@ramijarrar I just added support for disabling theme by having `"theme": false` in the settings file.

[2016-01-01 02:32] ramijarrar commented on #16
Great, I'll let you know if I have any problems with it.

Btw - are you still planning to fix the images issue for this release?

[2016-01-06 11:12] javdl commented on #24
Thanks a lot, your fix is working just fine! Tested on Multiple Meteor apps & multiple domain/subfolder combinations.

[2016-01-10 01:08] pgrm commented on #16
Hi @Zodiase, great job with this package!

I'm using the `add_scss_files` branch and it works great. except for 1 thing:

I've disabled the theme and also can see in the console:

[code]

I've added a custom variables file to define a theme (and later on overwrite other default values) with:

[code]

and in my main scss file, I'm adding the following at the top:

[code]

everything works great, ex

[2016-01-11 02:07] Zodiase commented on #16
@pgrm I tested and don't see the css code appearing twice. Here's my `.scss` file:

[code]

Note that different from your code clips, I don't need to import mdl variables in my variables portion (although I didn't split the code into two separate files).

Maybe I'm understanding your issue wrong. If so could you elaborate?

Update:
Check out the newly added test case 7b622d3f194e49a50e03e302a20274

[2016-01-11 02:14] Zodiase commented on #16
@ramijarrar I think adding <del>`$image_path: '{zodiase:mdl}/src/images'`</del>`$image_path: "packages/zodiase_mdl/src/images";` to a new scss file say `{zodiase:mdl}/theme.scss` and let people load that would work just fine? Of course I also need to actually add the images to the assets.

Is there a way the user might change `approot/packages` to a different address?

[2016-01-11 14:28] pgrm commented on #16
@Zodiase sry, my fault - you're absolutely right!

There was still the old css file in the compiled meteor folder which has been added. After running

[code]

everything works now, thx :+1: also with having multiple files, ...

[2016-01-14 18:44] Zodiase commented on #7
Since another feature is going to depend on this, let's settle with the current design and implementation. This feature will be available in version `1.0.6_3`, which I'll try to release ASAP.

[2016-01-14 18:44] #7 closed, assigned to Zodiase

[2016-01-14 20:16] Zodiase commented on #16
Release `1.0.6_3` is out. You may get rid of those local packages. :)

[2016-01-14 20:16] #16 closed, assigned to Zodiase

[2016-01-19 08:52] MBThaumatec opened #26 "Problem with loading config file"
Hi,
I was trying to change theme without success. I've got json file: `zodiase-mdl.json` with text in it:

[code]

I was placing this file anywhere in my project with no luck. After any change I was doing `meteor reset`.

Please point me where to put this file if you have such structure:

[code]

I see in your code that you are referencing to `process.cwd()` and that could be the problem.

[code]

[2016-01-19 15:50] Zodiase commented on #26
Did you try putting it at `YourMeteorApp/zodiase-mdl.json`?

[2016-01-20 06:23] MBThaumatec commented on #26
Yes, of course. That's `process.cwd()` when you run local package. But it seems to be not when running package from atmosphere

Meteor v1.2.1
Node v0.12.4

[2016-01-20 09:39] ramijarrar commented on #16
@Zodiase The implementation for the images looks good to me (https://github.com/Zodiase/meteor-mdl/commit/07385bacf317a773dc41555ea3bf58545889574a) and no, it's not possible to change `approot/packages` :)

Thanks for all your work on this.

[2016-01-20 18:28] Zodiase commented on #26
Yep now I can see the issue here as well. Only when the package is added from atmosphere... Now I'm stuck at how to do further testing and eventually come up with a fix. Most likely `process.cwd()` is different when added from atmosphere and the current release of the package doesn't print that info out. I don't really want to push another release just to check `process.cwd()` LOL. Let me think of

[2016-01-20 18:46] Zodiase commented on #26
I think what I have to do is use `Package.registerBuildPlugin([options])` the same way https://github.com/huttonr/bootstrap3/ is doing.

[2016-01-22 05:56] Zodiase commented on #16
Hi guys I'm sorry if any of you experienced issue #26 when using the package from atmosphere and trying to use the settings file. The issue should be fixed in the latest release `1.0.6_5`. Unfortunately the fix also broke backward compatibility mostly related to settings and SASS files. Please refer to the README file for updates.

[2016-01-22 05:58] Zodiase commented on #26
Should be fixed in the latest release `1.0.6_5`. Let me know if not.

Unfortunately the fix also broke backward compatibility. Please refer to the README file for updates.

[2016-01-25 07:04] MBThaumatec commented on #26
This is working perfectly now, thanks.

[2016-01-25 07:04] #26 closed, assigned to Zodiase

[2016-01-25 07:10] MBThaumatec opened #27 "Fix README in section 'more than pre-built themes'"
Hey, another very small issue this time.
In readme there is this code:

[code]

which is not working at all. In color description MDL describes colors like this:

[code]

So this part of readme should be actually like this:

[code]

Giving color in rgb with # or function don't work. This is only way for me to start custom theme working.

[2016-01-26 07:07] Zodiase commented on #27
You are right! I completely didn't think about it when writing the readme... The SASS code is actually placing the variables inside "rgba()" so yes you have to use "r,g,b".

[2016-01-26 16:28] #27 closed, assigned to Zodiase

[2016-02-01 18:19] Zodiase opened #28 "Update to MDL 1.1.0"

[2016-02-02 05:17] Zodiase commented on #28
So one of the issue I realized was the fact that I didn't use strict version for using `mdl-asset` and other version sensitive packages. If I left version 1.0.6_6 as it was then it would load up `mdl-asset@1.1.0` whenever possible, which is bad... So I had to quickly drop version 1.0.6_7 with restricted package versions.

[2016-02-02 05:38] Zodiase commented on #28
Integration test `issue1` is broken and has to be fixed because now the ripple effects are always cleared asynchronously so the synchronous test no longer works.

[2016-02-02 08:04] Zodiase commented on #28
I spotted an issue with using Material Design Icons v2.1.3 with Material Design Lite v1.1.0 and posted
google/material-design-icons#299.

I have a temporary fix but I don't want it to be always injected, in case the user doesn't want that. As a result, for MDL v1.1.0 there will be a new setting option defined as:

[code]

`applyListIconFix` is true by default, so even if you disable the theme and

[2016-02-02 11:14] Zodiase commented on #28
Published.

[2016-02-02 11:14] #28 closed, assigned to Zodiase

[2016-02-03 02:00] cirocolares opened #29 "Cannot call method 'addJavaScript' of null"
hi!

I installed the package, created the zodiase-mdl.json file and when I try to run the app, I'm facing the error below... Someone knows why I'm getting this error?

thanks!

=> Started proxy.
=> Started MongoDB.
- zodiase:mdl > Enabled with default settings. See documentation for customization options.
- zodiase:mdl > Using settings: { jsLib: { minified: false },
  theme: { primary: 'indigo', a

[2016-02-03 02:13] Zodiase commented on #29
I'm sorry to see this happen. Unfortunately the current test cases do not cover platforms other than `web.browser` so this error was not spotted before publishing. I'll have a fix out very soon. Could you then clone the package from repo and test it as a local package?

[2016-02-03 02:17] Zodiase commented on #29
The fix is out. If you could test it out as a local package, I could see if further adjustments are needed. Thanks.

[2016-02-03 02:34] Zodiase commented on #29
This issue actually affects all versions since `1.0.6_4` for platforms other than `web.browser`. So before the fix is published, you could stay at version `1.0.6_3` to avoid this error.

[2016-02-04 06:32] ramijarrar opened #30 "Layout component re-rendering"
Changing routes breaks the auto-upgrading mechanism at the moment, something similar to the work done for iron router would probably solve this.

[2016-02-04 06:36] ramijarrar commented on #30
So it looks like the iron router patcher has been depreciated which probably means this is issue not so simple. I'll post back with more details soon.

[2016-02-04 08:54] ramijarrar commented on #30
Alright - so to be more specific here, the issue I am having is with the drawer button not rendering after a page change. A refresh makes the issue go away but manually upgrading the components doesn't (so I don't think it is related to the component handler).

Here is the trace of error in the browser console:

![image](https://cloud.githubusercontent.com/assets/9661116/12810188/a5bcd6aa-cb78-11e

[2016-02-04 10:21] Zodiase commented on #30
The previously called "blaze patcher" which adds support to iron router is renamed to "autoUpgrade" with slightly changed interface in v1.1.0, though the default behavior is not changed. So if you were not using `MDl.envConfig.patchers.blaze.setUpgradeStyle('fullUpgrade' | 'mutationOnly' | 'none')`, it should not make any difference. But if you were, then `setUpgradeStyle` is moved to `MDl.autoUpg

[2016-02-04 10:49] Zodiase commented on #30
In your app, is the drawer not persistent between routes?

[2016-02-04 11:07] ramijarrar commented on #30
The drawer is definitely persistent between routes, but the topbar content changes.

[2016-02-04 11:33] ramijarrar commented on #30
I'd be willing to make a repro, but just want to make sure that I am not missing anything obvious here.

[2016-02-04 11:36] Zodiase commented on #30
MeteorPad does not have the latest packages so I can't show you the test I just made through there. But I put the major files in this gist: https://gist.github.com/Zodiase/12a44b4e023190d3a36c

[2016-02-04 11:38] ramijarrar commented on #30
The drawer isn't being re-rendered or removed between routes in my case, only the topbar. Do you think that could be causing the issues? (The button exists in the topbar so it would make sense)

[2016-02-04 11:39] Zodiase commented on #30
You are removing `<header class="mdl-layout__header">` in some routes?

[2016-02-04 11:40] ramijarrar commented on #30
It is always there, but is re-rendered.

[2016-02-04 11:42] Zodiase commented on #30
So to me that sounds like you have something like this:

[code]

Which has a persistent drawer, but the header may change and gets re-rendered?

[2016-02-04 11:43] ramijarrar commented on #30
The drawer is static (i.e drawer content does not change) but other than that essentially yes.

[2016-02-04 11:45] Zodiase commented on #30
A funny thought of mine: you could actually create a static html page using MDL and simulate the layout changes with JavaScript and see how that plays out, without using Meteor at all.

[2016-02-04 11:47] ramijarrar commented on #30
Well since we know it is working after a refresh, there is clearly some operation performed after the page has loaded which we need to re-trigger.

[2016-02-04 11:48] Zodiase commented on #30
Back to the issue here.. What you described doesn't sound good.. You should never change the layout components once the layout is upgraded. Mainly because currently it's still impossible to "downgrade" a layout in MDL.
More in detail: it's fine to have

[code]

and change whatever you want the headerContent to be, that is assuming you are not using layout tabs (which gets really messy).

[2016-02-04 11:51] Zodiase commented on #30
If you have this

[code]

and change header, what happens is `{{header}}` gets re-rendered, but not `<div class="mdl-layout mdl-js-layout">`. And that `<div class="mdl-layout mdl-js-layout">` guy has already been flagged by MDL as "upgraded" so even though the autoUpgrader tries to upgrade it again, that does absolutely nothing.

[2016-02-04 11:52] Zodiase commented on #30
And the result is the layout lose track of its head(er)...

[2016-02-04 11:52] ramijarrar commented on #30
Is there a way to manually refresh this?

[2016-02-04 11:54] Zodiase commented on #30
If you mean forcing `<div class="mdl-layout mdl-js-layout">` to get re-rendered so it could be re-upgraded, no, not to my knowledge. Blaze seems to be doing a very good job at minimizing what to re-render. Even changing an attribute of an element only causes that attribute to be changed in DOM, but the element is not completely re-rendered.

[2016-02-04 11:56] Zodiase commented on #30
BTW I'm working on implementing MDL with React, with the goal of eliminating this stupid upgrade thing... In other words, when that's done, MDL layout would be so much easier to use.

[2016-02-04 11:59] Zodiase commented on #30
If you want to hide the header conditionally, either
- go with two different layouts, one with header and the other not (you can still change what's in the header, but don't touch the header tag)
- conditionally change the content of the header, while conditionally toggle the CSS display of the header.

[2016-02-04 12:02] ramijarrar commented on #30
I'm not trying to hide the header, but I actually load the page content along with the header, so something like this:

[code]

And then in the layout:

[code]

[2016-02-04 12:03] ramijarrar commented on #30
I can refactor this, but not sure how that would scale for other layouts (for example, we will be using tabs very soon for a settings page)

[2016-02-04 12:09] Zodiase commented on #30
The layout basically has to stay like this

[code]

A better version would be

[code]

so you can easily specify data context in the router.

Oh tabs... The ugly tabs... You know that the tabs are upgraded along with the layout. To me that basically means, if you want one route with tabs, the other not, then the only workable solution is to have two different layouts.

[2016-02-04 12:13] ramijarrar commented on #30
Btw - regarding the React implementation, what does that mean for Blaze users?

[2016-02-04 12:20] Zodiase commented on #30
For one thing, Meteor 1.3 is going to switch heavily to React, leaving Blaze behind... I'm not saying as a Blaze user I'm happy about that.

I think blaze and react can somewhat work together, though I have not tested.

I'll keep both packages updated, since to me prototyping with Blaze is still far more easier. And the effort in maintaining this package is nothing compared to the React version; I

[2016-02-04 12:24] Zodiase commented on #30
The react wrapped versions of mdl on atmosphere right now almost all just use React to render the bare templates and ask the component handler to upgrade them. So that means very little effort in maintaining the package, but also means MDL's still very ugly to use with Meteor. What my mdl-react project is aiming to achieve is to get rid of the component handler, and implement all upgrade/downgrade

[2016-02-04 12:27] ramijarrar commented on #30
Any reason (besides forwards-compatibility) that you have decided to use React for this? In other words are there certain limitations of Blaze at play here?

[2016-02-04 12:28] Zodiase commented on #30
Well like the layout issue we were just talking about here, for one.

[2016-02-04 12:29] ramijarrar commented on #30
What I mean to say is that you are describing an implementation of the components where the upgrade/downgrade logic is moved to the template level, and my question is whether or not that would actually require React components (vs Blaze) or if the decision is just based on forwards-compatibility.

[2016-02-04 12:29] Zodiase commented on #30
And the auto upgrade mechanism ultimately is not going to be efficient in large apps where many DOM changes could happen at once.

[2016-02-04 12:39] Zodiase commented on #30
The implementation depends on the React lifecycle events. Blaze's lifecycle hooks are not enough.

[2016-02-04 12:44] Zodiase commented on #30
For example, Blaze only has `onRendered`, which happens only once. After that it's impossible to know when the template has been modified. And that's also why the auto upgrade mechanism has to rely on listening mutations on the whole page.

[2016-02-04 12:57] Zodiase commented on #30
You are welcome to watch the progress on https://github.com/Zodiase/meteor-mdl-react and see if the implementations are portable to Blaze.

[2016-02-04 22:17] ramijarrar commented on #30
Reflecting back on our discussion last night I'm not actually sure things like tabs will be a problem going forward since most people will want to control the rendering themselves anyways. This doesn't necessarily mean we have to build them from scratch since the styling for the tabs can most likely be used without any dependency on the js/component handler.

And regarding the suggestions you made

[2016-02-04 22:19] ramijarrar commented on #30
I think this issue can be left open for now, in case someone else has any bright ideas or stumbles upon similar roadblocks in the library.

[2016-02-04 22:28] Zodiase commented on #30
The issue with layout tabs is, when upgrading the layout, component handler will try to locate the tab bar with ".mdl-layout__tab-bar".

For all components, MDL locates the components with something like "mdl-js-button" for upgrading. I believe this was designed to allow you use the styling with "mdl-button" and prevent the element from being upgraded by leaving out the "js" counterpart.

However

[2016-02-07 18:41] cirocolares commented on #29
Hi! Sorry for the delay. The issue was fixed, the package is working fine now!
Thank you very much!

[2016-02-08 07:10] #29 closed, assigned to Zodiase

[2016-02-12 10:41] javdl commented on #24
Facing this issue again since 1.1.1

[2016-02-12 18:07] Zodiase commented on #24
That's odd... The last fix was changing absolute path to relative path (`/packages/zodiase_mdl/fonts/` to `fonts/`). In 1.1.1, even though the fonts are separated into a dedicated package, relative paths are still used. E.g. `packages/zodiase_material-design-icons-fonts/iconfont/MaterialIcons-Regular.eot`.

Could you verify the font urls in the `merged-stylesheets.css` in your apps?

[2016-02-12 18:42] Zodiase commented on #24
I tried running `ROOT_URL=localhost:4000/foo/ meteor -p 4000` and the fonts loaded fine at `http://localhost:4000/foo`

[2016-02-17 12:15] KristerV opened #31 "annoying messages in 1.1.1"
Hey, just updated to 1.1.1 - great work. thank you.

But I keep gettings this annoying message on every server refresh:

[code]

I understand I now have a config file, but what commands do I need to disable this message?

[2016-02-18 20:12] Zodiase commented on #31
The purpose of having this log is to hint the developers what settings are in effect, especially in the case of mis-configuration. I didn't expect this to annoy anyone since I see this sort of messages quite often in some of the packages, `Kadira` for example, that I use. But in the next release I'll try to implement caching so the message only appears when the settings file is changed. I think th

[2016-02-19 12:28] KristerV commented on #31
most appreciated effort. I debug stuff to the console all the time - any message there is noise.

[2016-03-03 06:01] seifip opened #32 "MDL and Meteor 1.3"
MDL works great with Meteor 1.2, but I'm having troubles getting it to work with 1.3 beta 11.

Most of it works correctly, but the dropdown menus are broken and the Console reads `Uncaught ReferenceError: componentHandler is not defined` and `MDl disabled. Create a file named 'zodiase-mdl.json' at the root of the app to enable.`.

zodiase-mdl.json is definitely there (haven't changed anything befo

[2016-03-03 17:07] Zodiase commented on #32
I haven't started working on supporting Meteor 1.3. From your description it looks like the plugin system is changed quite a bit in 1.3. I'll take a look at it soon.

[2016-03-03 17:09] seifip commented on #32
Thanks! 1.3 seems to be nearing release, so it's a good time to start thinking about it :)

[2016-03-04 08:46] Zodiase commented on #31
I hope you'd be satisfied by the new update `1.1.1_1` I just published. No more annoying logs! :D

[2016-03-04 08:46] #31 closed, assigned to Zodiase

[2016-03-04 09:03] Zodiase commented on #32
Short version of the story:
I created an empty app and updated it to `Meteor 1.3-beta.12` and then added `zodiase:mdl@1.1.1_1` and got no error so far.

There isn't a longer version of the story... But I did published a new version (`1.1.1` revision 1) and I'm not sure if that has any impact on the errors you are seeing.

[2016-03-04 09:05] Zodiase commented on #32
If you are still seeing the errors, could you provide a minimum case to reproduce the errors?

[2016-03-05 07:32] KristerV commented on #31
yes! Awseome.. thank you. I've been with these logs since and I can't say i've gotten used to it :D

[2016-03-05 11:46] seifip commented on #32
ok, so to test that it's not just my project, I pulled the example todo-list app, installed zodiase:mdl 1.1.2, added the .json file, upgraded to meteor 1.3-beta.12 and I still get the same errors:

![image](https://cloud.githubusercontent.com/assets/636168/13547365/5ab987b8-e313-11e5-9546-7928ced53b06.png)

yet here again, the .json is actually loaded correctly:

![image](https://cloud.githubuserc

[2016-03-05 13:03] Zodiase commented on #32
I found the cause of this issue. For some reason the new `isobuild:compiler-plugin` is only allowing me to add only one js file. If I do:

[code]

then only `js3` will show up in the final js file sent to the client. This looks to me is definitely a bug in the Meteor 1.3 beta.

[2016-03-05 13:05] Zodiase commented on #32
This package relies on this api to add js files on demand. Apparently this bug caused all js files but the last one to be missing, and hence the error you are getting.

[2016-03-05 15:03] seifip commented on #32
I believe they are discussing the problem at https://github.com/meteor/meteor/issues/6014 but they say it's fixed in beta 11?

[2016-03-06 01:12] Zodiase commented on #32
That was a whole different issue; at that time `addJavaScript` was not working at all. This time, it only adds the last file no matter how many times I call it.

[2016-03-06 01:14] Zodiase commented on #32
They've worked `compiler-plugin` a lot and I haven't got enough time to understand how it's working now and what part of the logic caused this problem.

[2016-03-06 02:05] Zodiase commented on #32
Looks like they confirmed the bug. (meteor/meteor/issues/6422)

Well, from the look of how many issues there still are for `beta.12` I'm guessing they'd need another new beta release or two and perhaps 4 months to get to a stable state to release Meteor 1.3.

[2016-03-12 17:21] JulianaGaibler opened #33 "Cached resources are about 40MB large"
I'm using the appcache-package and due to all these .css files, the cached resources are about 40MB large. Thats too high, in any way. I thought this might be just in the development stage, but even when I publish my project with "Meteor Up", it has the same size. How's that and how can I get rid of all these unnecessary files?

[2016-03-15 00:23] Zodiase commented on #33
In order to allow dynamically loading theme files based on settings, all those assets have to be added to the package in the package config file for loading at build time, as the current package system limits. So I hope you could see why all 42MBs of `.css` theme files are included. However not all of these files are actually used in the webpage. Actually at most one `.css` file would be used. I'm

[2016-03-15 02:34] Zodiase commented on #33
My first attempt managed to reduce the total cached size down to 5.1MB for my test app (in development mode). I suppose that's still not good enough for you, since the `appcache` package still yells at me about going over 5MB and my test app is almost empty. Consider a fully fledged app it's going to exceed a lot more.

After removing unnecessary client side assets, there are still a few critical

[2016-03-15 05:49] Zodiase commented on #33
Upgrade to `zodiase:mdl@1.1.2_2` to see the reduction in client side assets.

[2016-03-15 19:32] JulianaGaibler commented on #33
Thank you so much for your effort. In the meantime I switched to some other mdl package and now back. The difference is just 1MB. I'm now at 8.8MB which works fine - although it is above the limit - and I think this is absolutely fine. After all the reason to use the package is to reduce data-usage in the long-term, but 50MB seemed to be a little bit much.

[2016-03-15 19:32] #33 closed, assigned to Zodiase

[2016-03-23 20:25] ramijarrar commented on #32
@Zodiase 4 months? :laughing:

[2016-03-23 20:45] Zodiase commented on #32
@ramijarrar I have no idea why they are rushing 1.3 out with so many known issues pushed to 1.3.1. Marketing I guess.

[2016-03-29 06:55] ramijarrar commented on #32
Trying with the official 1.3 release at the moment and there doesn't appear to be any incompatibility issues.

@Zodiase Would it be possible to move options into "package.json"?

[2016-03-29 17:17] andersonalvesalmeida opened #34 "Not correctly render in mobile resolution"
# Not correctly render in mobile resolution

I am unable to make the resolution of my app to suit a mobile device, I created a meteor project and replace the file code mdltest.html by:

[code]

[2016-04-01 17:10] Zodiase commented on #34
I don't know how you could get a "correct" result just with those code. Because with this codepen I couldn't get a mobile view on either chrome or the iOS simulator.
http://codepen.io/Zodiase/pen/KzXqVJ
![image](https://cloud.githubusercontent.com/assets/1815174/14214308/07239086-f802-11e5-9c17-454acb81dd8e.png)
![image](https://cloud.githubusercontent.com/assets/1815174/14214388/6931ea8e-f802-11e

[2016-04-01 17:38] Zodiase commented on #32
@ramijarrar That's good to know.

About moving the options into `package.json`, from what I can see the benefit is having one fewer file in the app root directory. The problems it creates, however, include:
1. Difficulty in picking a namespace in the `package.json` to ensure a conflict with other packages, Meteor itself or the user code would **never** happen. Or at least when it has to happen, th

[2016-04-02 00:32] ramijarrar commented on #32
Here is an example: https://github.com/juliancwirko/meteor-postcss
1. If you take a closer look at the source, they are just parsing the `packages.json` file and reading the relevant key. So something like `zodiase-mdl` for this package should prevent any conflicts with namespace/unpredictability.
2. As far as backwards compatibility is concerned, I'm not sure why we could not just continue
   loa

[2016-04-11 16:47] Zodiase opened #35 "Build failing with Meteor 1.3.x"
[code]

[2016-04-12 03:17] ramijarrar commented on #35
Have you tried this with v1.3.1?

[2016-04-12 08:26] seifip commented on #35
I get this error... both with 1.3.1 and 1.3.2.

[code]

[2016-04-12 15:09] Zodiase commented on #35
@ramijarrar Yeah, both 1.3 and 1.3.1.
@seifip Now that's new... The error doesn't even make sense to me... The package needs to load several different files based on the settings.

[2016-04-12 18:09] Zodiase opened #36 "Add JS SourceMap."
`client/lib/dist/material.min.js.map`.

[2016-04-12 19:20] Zodiase commented on #35
@seifip BTW how did you get that error? Were you starting the app? Also you are using Windows?

[2016-04-12 19:56] Zodiase commented on #35
@ramijarrar Also if I remember correctly there was no issue when 1.3 was just released. That means the issue is caused by one of the core packages updated since then. ~~Possibly `"promise"`.~~ (Tested with `promise@0.5.1` and the error remains.) ~~My second guess is `templating`.~~ (Nope)

[2016-04-12 20:21] Zodiase commented on #35
Error went away in release `1.3.2-rc.5`. ლ(ಠ_ಠლ)

[2016-04-12 21:35] Zodiase commented on #32
@ramijarrar The problem with having both `zodiase-mdl.json` and `packages.json` is the limitation from the `MultiFileCachingCompiler` that this package relies on.

The `MultiFileCachingCompiler` would gather a list of files meeting my set filter (exact match of `'zodiase-mdl.json'` in this case) and run `compileOneFile` that I defined on each of the files.

Generally I have no control over the ove

[2016-04-12 21:54] Zodiase commented on #32
@ramijarrar That `postcss` is interesting... I was doing almost the same thing many releases ago, using `process.cwd()` and `fs` to read the settings file, except I did it in `package.js` instead of a file added by `package.js`. And that didn't work out as expected (see #26). It's good to know that `postcss` works for people and that just gave me an idea on another topic...

[2016-04-13 08:55] seifip commented on #35
I'm still getting

[code]

on Windows with rc5.

[2016-04-13 16:20] Zodiase commented on #35
@seifip I'm not getting this error. This whole thing looks to me is all about issues within Meteor 1.3.x, and unfortunately I don't have the time to dig out the cause for MDG. I found a similar issue on Meteor's repo that you could join: meteor/meteor#6806.

[2016-04-19 21:16] Antoine-O opened #37 "MDl disabled. Create a file named 'zodiase-mdl.json' at the root of the app to enable. (Meteor 1.3.2.2)"
Hello !
Of Course I have created the file but he keeps asking,
Tried a meteor reset without success.
any idea ?
tried to put things in zodiase-mdl.json

[code]

no effects.

[2016-04-19 21:43] Zodiase commented on #37
Here's a repo of a minimal Meteor app (1.3.2.2) with `zodiase:mdl` (1.1.3_1) that's running without any errors: https://github.com/Zodiase/test__meteor-1.3.2.2__mdl-1.1.3_1.

While I don't know what caused the issue you are experiencing, I hope that minimal app could help you find the cause. Or if you could give a minimal demo reproducing the error, that'd help me find the cause.

[2016-04-19 22:07] Antoine-O commented on #37
My bad it was due to a missing (mistyped) template.
thx and keep up the good work :)

[2016-04-19 22:07] #37 closed, assigned to nobody

[2016-04-21 15:33] Zodiase commented on #35
This particular issue seems to be fixed at some point. Could not reproduce it in 1.3.1 now.

[2016-04-21 15:33] #35 closed, assigned to nobody

[2016-05-01 12:22] boxtree opened #38 "MDL Table not rendering correctly when new row added via template"
Hi

Great work on getting MDL into meteor!

I'm using the latest versions of meteor etc...

I have a simple blaze template that has a "add new item" button then a table that lists the items in the collection. The add button does a meteor.call() to add a document to the collection. Then reactivity causes the table below to re-render.

[code]

The result immediately after adding a document looks lik

[2016-05-01 22:01] Zodiase commented on #38
Duplicate of #10.

In short: don't ever use `mdl-data-table--selectable`, it's buggy and doesn't work at all with dynamic content.
Check out the demo app here: https://github.com/Zodiase/meteor-mdl/tree/master/integration-tests/issue10. It has a fairly simple implementation of `mdl-data-table--selectable` that works.

[2016-05-01 22:02] #38 closed, assigned to nobody

[2016-06-01 00:17] Zodiase commented on #34
With no follow-ups I assume this is resolved. Let me know if you still have this problem.

[2016-06-01 00:17] #34 closed, assigned to nobody

[2016-06-03 14:10] JulianaGaibler opened #39 "Package CSS after my Stylesheets in merged version"
I don't know since when but somehow, all Stylesheets from this package are "under" my own in the merged CSS-File, thus everything i wrote gets overwritten by the MDL-Theme. I really don't want to put !important behind all my conflicting rules.
Is it possible to change the order?

[2016-06-03 15:42] Zodiase commented on #39
I'm afraid the order is determined by Meteor Isobuild. Not much I can do about that.

I think a workaround is to disable the default theme and load the SASS files with `@import "{zodiase:mdl}/theme";` so you could precisely control where it appears in the merged CSS file.

But I'd like to see a reproduction of the issue and learn why that's happening. CSS from the app should be added the last, whi

[2016-06-06 21:43] jhuenges commented on #32
Any update on 1.3 support?

[2016-06-07 00:45] Zodiase commented on #32
@jhuenges Are you having trouble using the package with Meteor 1.3? It should work.

[2016-06-07 07:18] jhuenges commented on #32
No, sorry! I haven't actually tested it yet. Was just asking because the issue is open

[2016-06-07 16:03] Zodiase commented on #32
@jhuenges There had been a few things in earlier releases of Meteor 1.3 breaking this package but they seem to be gone after some point in time. Really hard to tell what happened since Meteor's release version doesn't lock down its core packages. But at least now everything is fine so far :D.

This issue was left open since I wasn't sure if some updates in Meteor 1.3 core packages would break this

[2016-06-07 16:03] #32 closed, assigned to nobody

[2016-06-15 02:05] wildhart opened #40 "checkboxes & radios not updating when underlying data changes"
Say you have an MDL checkbox:

[code]

If the isChecked value is changed by another client then the MDL checkbox does not update.  The checked property of the hidden `<input>` element changes, but this does not get converted into toggling the 'is-checked' class of the `<label>` element.

My work-around is to add the 'is-checked' class myself using:

[code]

This seems to work perfectly, but it wou

[2016-06-15 02:16] Zodiase commented on #40
I'm also mostly coping with the same as your work-around there. This is a good idea though. I'll see what I can do.

[2016-06-15 02:33] Zodiase commented on #40
Also you are more than welcome to make a PR for this functionality.

[2016-06-15 04:10] wildhart commented on #40
It looks like MutationObserver doesn't fire for property change events.  The best I can come up with is

[code]

Cross-referencing the input's id with the label's "for=" property means that the input doesn't have to be a child of the label.  Still doesn't feel very elegant though.

Where to put this code within meteor-mdl to be the most efficient (only executed once, or only executed if there are

[2016-06-15 08:16] ramijarrar opened #41 "Use without material icon font"
Can you make the `zodiase:material-design-icons-fonts` dependency optional? We are using an SVG sprite to load our custom icon-set (as well as a small subset of the material icons) so the icon font from that package is unnecessary.

[2016-06-16 04:34] lesliechw opened #42 "Reactive available?"
Hi,

Is reactive function still exist when using meteor-mdl? Please advice, thank you.

[2016-06-16 07:02] Zodiase commented on #42
I'm not sure I understand your question. What do you want to achieve?

[2016-06-16 07:04] Zodiase commented on #41
This was part of the plan when I was trying to support configurable theme and SCSS but it got a bit too complicated for the time I had. I'll look into this some time soon.

[2016-06-16 07:47] lesliechw commented on #42
I mean will it work as Blaze on UI auto update.
On 16 Jun 2016 3:02 pm, "Xingchen Hong" notifications@github.com wrote:

[2016-06-16 18:46] Zodiase commented on #42
If you mean "If I use Blaze to dynamically render a MDL Component, will the component get upgraded (a MDL thing)?" then the answer is "most likely yes, unless you rendered it wrong".

If you mean "If I put a MDL Component in a Blaze template and the component has reactive data in it, will everything work perfectly?" then the answer is "likely no". Reactive content in Blaze can break a lot of third

[2016-06-16 19:49] Zodiase commented on #40
It's a shame there isn't any way of monitoring property changes. Polling should be the last resort and is really a bad practice.

I have a slightly awkward solution. Since MutationObserver _can_ observe attribute changes, and as far as I know it's the most efficient solution for reacting to changes, what if I put the Blaze reactive content in an attribute like this:

[code]

With that now I can mo

[2016-06-16 20:02] ramijarrar commented on #41
Would it not just be a matter of removing [this line](https://github.com/Zodiase/meteor-mdl/blob/master/package.js#L32)/wrapping in a conditional based on settings? It seems like we already have good separation?

[2016-06-16 20:14] Zodiase commented on #41
That would be the solution except in `package.js` I can't reliably access the configs file thus there's nothing to be used as the condition. See the old code https://github.com/Zodiase/meteor-mdl/blob/1.0.6_3/package.js#L27 where I was trying to read the configs file from `package.js`. It worked when running locally but did not work at all once deployed.

[2016-06-16 20:17] Zodiase commented on #41
#26 is where I realized I can't access the settings file from within `package.js`.

[2016-06-16 20:22] ramijarrar commented on #41
Okay - makes sense. Have you considered removing the dependency altogether? I think the icons are sufficiently useful on their own, and having people install them separately isn't a huge burden (though obviously something that would be a breaking change).

[2016-06-16 20:33] Zodiase commented on #41
Breaking BC has been the major concern for not removing the dependency. Also I would like most users to not have to remember installing multiple packages.

BTW I may have realized a better solution than forking and editing just for this purpose. Say if you have a local package that matches `zodiase:material-design-icons-fonts` but actually does nothing, wouldn't that just effectively removes what

[2016-06-16 20:34] ramijarrar commented on #42
Probably worth taking a look at #30, once you get your head that it should be fairly straight-forward to figure out the best way to pair MDL/Blaze components (for most cases). I would watch v2 of MDL as well which is going to resolve a lot of the issues with templating libraries.

[2016-06-17 02:00] lesliechw commented on #42
Thank you very much for your support. I'm very new to JavaScript/EcmaScript
and self learning. I'll take your advice and try it myself.
On 17 Jun 2016 4:34 am, "ramijarrar" notifications@github.com wrote:

[2016-06-17 06:53] wildhart commented on #40
That would work, but it's not obvious and not automatic - the developer would need to read your README to know to use the data-mdl-checkbox-checked attribute, in which case it's just as easy to recommend the `{{#if isChecked}}is-checked{{/if}}` class workaround, and then no observers required in your code.

[2016-06-17 15:34] Zodiase commented on #40
That's true.

What if I provide wrapped component templates like:

[code]

I used to not like this idea as I think it unnecessarily tries to over-simplify problems and would perhaps make things harder to use.

[2016-07-15 18:23] ForsakenHarmony opened #43 "Build crashing"
[code]

[2016-07-15 22:28] Zodiase commented on #43
Looks like an issue of `fourseven_scss`?

[2016-07-16 00:18] ForsakenHarmony opened #44 "Build includes every verison"
As the title says every color combination is included in the tar file produced

This got my file from 7 to 38 MB

[2016-07-17 10:15] Zodiase commented on #44
And that is an issue because you can't afford 31MB of extra storage?

[2016-07-17 19:18] ForsakenHarmony commented on #44
It's an issue because it's unnecessary

[2016-07-19 17:14] Zodiase commented on #44
Well, unfortunately the goal of this package is not achieving best efficiency. Not only does it not try to use as little storage as possible, the auto-upgrade helper involving MutationObserver isn't the most efficient solution either. With this package, I hope anyone would be able to have an easy start with MDL in Meteor with different levels of customization (theme changing and SASS support). All

[2016-07-19 17:14] #44 closed, assigned to nobody

[2016-07-20 07:34] gbelot2003 commented on #43
same with me, on a fresh install

npm ERR! Linux 4.5.7-202.fc23.x86_64
npm ERR! argv "node" "/home/gbelot/.meteor/packages/meteor-tool/.1.3.5_1.1sksnpz++os.linux.x86_64+web.browser+web.cordova/mt-os.linux.x86_64/dev_bundle/bin/npm" "rebuild" "--no-bin-links" "--update-binary"
npm ERR! node v0.10.46
npm ERR! npm  v3.10.5
npm ERR! code ELIFECYCLE
npm ERR! thread-sleep@1.0.4 install: `node-pre-gyp in

[2016-07-20 10:12] mattkraemer commented on #43
Add Fourseven:SCSS (`meteor add fourseven:scss`) first and try again. That worked for me.

[2016-07-20 19:49] Zodiase commented on #43
@gbelot2003 I think the error you encountered is different than the one OP is talking about. I haven't been able to reproduce OP's error but I can confirm the error you are experiencing is newly introduced in Meteor 1.3.5. I tried adding the package in every release of Meteor and upon hitting 1.3.5 I saw this error. Though I'm not sure what change caused this error.

@malmosands Thank you for prov

[2016-07-24 04:07] 43z3com commented on #43
meteor remove zodiase:mdl
meteor remove fourseven:scss
meteor add fourseven:scss <= version 3.8.0_1
meteor add zodiase:mdl
meteor update

[2016-07-25 13:55] Zodiase opened #45 "velocity mirror crashing after using core packages from 1.3.5"
Looks like it's time to stop using velocity.

[code]

[2016-07-25 18:11] #43 closed, assigned to nobody

[2016-07-25 19:02] Zodiase commented on #43
`zodiase:mdl@1.1.3_3` is out and should fix this issue. Reopen if not.

[2016-08-18 00:23] ramijarrar opened #47 "Release 1.2.0"
https://github.com/google/material-design-lite/releases/tag/v1.2.0

[2016-08-18 14:55] Zodiase commented on #47
@ramijarrar Thanks for the notice. I'm just a bit busy this week. Should be able to get the new release out before this weekend. :)

[2016-08-19 21:39] Zodiase commented on #47
So umm... I've encountered something strange.

But firstly, the update is out on `zodiase:mdl-edge@1.2.0` for testing.

Then there's the problem. I don't see any issue with my installing the edge version. But on Travis CI, [as you can see here](https://travis-ci.org/Zodiase/meteor-mdl/builds), the last few builds have been failing for this same error:

[code]

And there's [already an issue open fo

[2016-08-25 19:36] zhanbst commented on #47
Can you check fourseven:scss@3.9.0 is available for linux version meteor 1.4.1.1

[2016-08-29 14:42] Zodiase commented on #47
@zhanbst When I tried `meteor add fourseven:scss` I got version `3.9.0` so I'd say no. Meanwhile its github readme says:

which I'm not quite sure what to do about.

[2016-08-29 14:47] Zodiase commented on #47
@zhanbst Update: When I tried `meteor update fourseven:scss` I successfully got version `3.9.0` even though for some reason it wasn't the default version when adding. Sorry for the confusion but `3.9.0` is available for linux version meteor `1.4.1.1`. Tested on my ubuntu VM.

[2016-08-29 15:26] Zodiase commented on #47
`1.2.0` is out. 617050499ccf61da234c6467244df55b34438814

[2016-08-29 15:26] #47 closed, assigned to Zodiase

[2016-09-03 12:05] polonski opened #49 "Tabs <a> are not responding to click events in mdl-layout__tab-bar"
So trying to capture clicks from tabs. normal everyday vanilla stuff. but it's not working

I've messed about trying to replace _mdl-tabs__tab-bar_  with _mdl-tabs__tab-bar_ but it messes up the UI, throws errors etc. It would be great if the tabs from _mdl-layout__tab-bar_ were able to capture click events.

I've put this on github for your ref  https://github.com/polonski/meteor-mdl-tabs

Thanks

[2016-09-11 11:44] ramijarrar opened #50 "Release 1.2.1"
https://github.com/google/material-design-lite/releases/tag/v1.2.1

[2016-09-13 21:23] wildhart commented on #49
As mentioned in previous bugs (#14), for tabs to work out-of-the-box the entire layout has to be in the same template.  If that's not possible due to dynamic content or different tabs on different routes then you have to use some of your own javascript.

After a bit of messing around, I've managed to get a system working quite well with minimal js, so I thought I'd share the basics here.  Below ar

[2016-09-13 21:24] wildhart commented on #14
See my comment on bug https://github.com/Zodiase/meteor-mdl/issues/49#issuecomment-246829185 for a description of my workaround.

[2016-09-14 10:33] boxtree opened #51 "Is is possible to change theme in real time"
Is it possible to change the theme (colors) in real time on a running site?

The zodiase-mdl.json file has the default theme colors, I would like to have the MDL color selection wheel on my site (or similar) and then allow a user pick their own color theme.

Thanks

[2016-09-14 12:40] polonski commented on #49
Thanks @wildhart !

All I ended up needing was

[code]

To capture presses from the tabs.

However I can't access template's reactive vars using this way of capturing clicks

so having the reactive var in header template called `titleLabel` can't be accessed like this:

`Template.instance("header").titleLabel.set("Moo");`

How do I access other template innards from the click capture in `onRendere

[2016-09-14 17:55] laurentpayot opened #52 "Missing promise/fiber dependency"
When I tried to install meteor-mdl I got the following error:

[code]

I had to do `meteor add promise` to install it.
Here is my stack now:

[code]

[2016-09-14 18:14] Zodiase commented on #52
But this package is not using promise or fiber at all...

[2016-09-14 18:19] Zodiase commented on #52
Tested with a new clean Meteor 1.4.1.1 app and there was no error adding the package. Must be something else in your project.

[2016-09-14 21:17] laurentpayot commented on #52
You're right. I removed the promise package and then could remove and add meteor-mdl without problem. Something weird must have happened during the first install. Thanks for your package by the way 👍

[2016-09-14 21:17] #52 closed, assigned to nobody

[2016-09-16 02:55] #49 closed, assigned to nobody

[2016-09-16 21:03] #50 closed, assigned to nobody

[2016-09-16 21:20] Zodiase commented on #51
TL;DR: No out of box support from this package.

Well... Let's look at it this way: you want different users to see different themes, which means there has to be a mechanism for generating the theme stylesheet on the fly, based on whatever criteria you want. In other words, you need something at the client side to request for a theme stylesheet after the user is logged in, and at server side a nod

[2016-09-16 21:39] Zodiase commented on #51
If you are only interested in the pre-built theme CSS files, use the undocumented hidden method `_mdlGetAsset('dist/material.amber-cyan.min.css')` on the server side to get the `amber-cyan` theme CSS file data. You still need some dynamic CSS loading on the client side and a server endpoint to serve the raw CSS data.

[2016-09-16 21:47] Zodiase commented on #24
Closing due to inactivity.

[2016-09-16 21:47] #24 closed, assigned to Zodiase

[2016-10-15 22:10] ALE1VER opened #54 "Getting error in a clean Meteor 1.4 installation trying to install the package in both Windows and Linux"
meteor add zodiase:mdl
/home/$USER/.meteor/packages/meteor-tool/.1.4.1_2.354htk++os.linux.x86_64+web.browser+web.cordova/mt-os.linux.x86_64/isopackets/ddp/npm/node_modules/meteor/promise/node_modules/meteor-promise/promise_server.js:165
      throw error;
      ^

Error: ENOENT: no such file or directory, open '/tmp/mt-vv1i8n/plugin.build.os/program.json'
    at Error (native)

[2016-10-16 14:14] jbelevicius commented on #54
I got the same issue. Running 'meteor update' then 'meteor add zodiase:mdl' again worked.

[2016-10-17 00:21] ALE1VER commented on #54
Not for me.

[2016-10-17 01:43] ALE1VER commented on #54
it suddenly worked

[2016-10-17 01:43] #54 closed, assigned to nobody

[2016-10-17 03:47] Zodiase commented on #54
@jamc92 Sorry to see you having this issue. I could not reproduce it on my VMs. Doesn't look like something wrong with the package itself either. I've seen this type of error messages (random nonsense thrown by `meteor-promise`) usually caused by `fourseven:scss` package, which this package depends on. But I have no idea exactly why.

@jbelevicius Thanks for helping.

[2016-10-20 07:01] kkm opened #55 "fail installation"
[code]

Can someone tell me, is that bug?
On Linux Ubuntu and Windows

[2016-10-20 08:23] Zodiase commented on #55
Seem to be a duplicate of #54. (Which is not reproducible and thus technically not a bug :P).

[2016-10-20 18:06] ALE1VER commented on #55
I had the same issue but suddenly it fixed itself

[2016-10-20 18:07] ALE1VER commented on #54
Thank you for checking out @Zodiase !

[2016-10-20 18:26] kkm commented on #55
What is surprise helped?

[2017-01-09 13:25] Antoine-O opened #56 "Dynamic Tabs"
Hello,
I tried to add new tabs (based on a pub/sub collections empty or not), Tag is added but clicking on the tabs doesn't do anything. Is there something I missed ?
Thanks

[2017-01-09 16:11] Zodiase commented on #56
Well, the current design of tabs (by MDL team, not by me) doesn't allow dynamic tabs, at least not very easily. Depending on what you want to achieve, #49 and #14 may or may not offer you some hints or potential workarounds. Maybe you could explain in a bit more detail what you have set up, the templates, relevant logic and stuff?

[2017-01-09 16:13] Zodiase opened #57 "Update to v1.3.0"
https://github.com/google/material-design-lite/releases/tag/v1.3.0

[2017-01-09 16:21] Zodiase commented on #57
From the changelog this update seems to bring one very interesting feature: no default automatic upgrading. This feature might help resolve some of the issues related to dynamically adding/removing elements of a component.

[2017-01-09 19:04] Antoine-O commented on #56
It is quite straightforward code (iron router + blaze)

as long as OpenSize is not defined the tab is not displayed.

OpenSize is based on the result of a collection

[code]
helpers based on subscription

[code]

[2017-01-09 19:21] Zodiase commented on #56
@Antoine-O Could you try conditional showing/hiding elements instead of constructing/destructing them?

For example, instead of:
[code]

Change to:
[code]

Not only will it be faster (Showing/hiding with CSS is always faster than removing/adding elements), it might just help resolve your issue. Just remember to try have all the tab subcomponents (including those tab buttons and tab panels) you nee

[2017-01-09 19:28] Zodiase commented on #56
To recap what is covered in issue #14 and #49, the issue with MDL tabs is the fact that all the linkage (clicking some tab button opens what panel) is settled only once when the layout is being upgraded. So any new changes to the tab layout will likely break the linkage and release chaos :S

[2017-01-09 19:33] Antoine-O commented on #56
yup that's what i read so far before creating a issue :/
I am inside a pretty big refactoring, i'll give try to the "show/hidden" way (I was thinking of that but I somwhat had some hope to a "regular" solution ;) )
thanks for support !

[2017-01-09 21:41] Antoine-O commented on #56
this is worlking !
the use of hidden is magic ;) I used it only on mdl-tabs__tab element and it works like a charm ;)

                        <a href="#Open"
                           class="mdl-tabs__tab {{#unless sOpenSize}}hidden{{/unless}}">
                            ({{OpenSize}})</a>

[2017-01-09 22:43] Zodiase commented on #56
@Antoine-O Glad it works for you. The trick is to have static button-panel pairs ready before the auto-upgrading.

By the way, just in case you didn't know, the use of class name `hidden` is just for illustration purpose and nobody should ever use a class name so generic. Please use good semantic class names :).

[2017-01-10 20:56] Zodiase commented on #56
Seems the issue has been resolved. Closing.

[2017-01-10 20:56] #56 closed, assigned to nobody

[2017-01-10 20:57] Zodiase commented on #57
Edge release: https://github.com/Zodiase/meteor-mdl/tree/mdl-edge%401.3.0
Install with `meteor add zodiase:mdl-edge`

[2017-01-10 21:50] Zodiase commented on #57
Resolved by #58.

[2017-01-10 21:50] #57 closed, assigned to Zodiase

[2017-01-13 13:25] Antoine-O commented on #56
For the record, I had to implements dynmic tabs based on a dynamic list. Here is what I have done:

created tab and panel based on a static array
- tabs are hidden (as @Zodiase explains it earlier)
- panels are not (as they are shown only when)
then when new tab contents is found
- tab is "unhide" when necessary based on a {{#if}} or {{#unless}} clause.
- content are generated in a hidden place th

[2017-01-17 15:11] matteolavaggi commented on #40
Hi @Zodiase i've a problem using mdl checkbox: I've implemented the "double" control for the checked property and use vents to handle and store a mongo state for the checked value of a list. My problem is that when the template is rendered , the default label class "is-checked" is inserted in the cehckbox label! So how is the right way to interact with your component?

Using this workaround its no

[2017-01-17 19:15] Zodiase commented on #40
@matteolavaggi I could not reproduce the issue as you described.

Here's my app files:

## `/client/main.html`

[code]

## `/client/main.js`

[code]

As you can see, I'm doing two tests, one using a ReactiveVar and the other using a (client-side) Mongo Collection. Neither shows what you are encountering.

In my opinion, using a Mongo Collection only involves a bit more complication from subscripti

[2017-01-17 19:18] Zodiase commented on #40
@matteolavaggi Also what you are experiencing seems to be a completely different issue. It's better for you to create a new issue so we don't sidetrack the conversations here.

[2017-01-19 17:44] Zodiase opened #59 "Moving towards MDC (MDL v2.0)"
I'm testing out how well MDC ([Material Components](https://github.com/material-components/material-components-web)) work with Blaze and Meteor and see if a Meteor package could help.

[2017-01-19 17:55] Zodiase commented on #59
# Experiments (keep updated):
1. Use MDC from npm directly in a Meteor app (using release v1.4.2.3).
    1. [x] Import bundled distribution js and css files in app.
    See test case: https://github.com/Zodiase/Meteor-Tests/tree/try-material-components--distribution
    2. [x] Import module distribution js and css files in app.
    See test case: https://github.com/Zodiase/Meteor-Tests/tree/try-ma

[2017-01-29 22:04] arist0tl3 opened #60 "Upgrading issues/possible documentation extension?"
Hey @Zodiase -- thanks for this awesome package!

So I grokked the idea of wrapping components in order to have autoUpgrading work correctly. However, it took me a while to understand something like this:

[code]

actually needs to be:

[code]

Otherwise, the events don't fire correctly. In this example, if the `li` isn't wrapped, then the close menu event doesn't fire.

I've seen similar function

[2017-01-30 10:58] Zodiase commented on #59
Note: when `zodiase:mdc` is stable, catches up with NPM MDC package's version and reaches `1.0.0`, `zodiase:mdl@2.0.0` will be released and be pointed to `zodiase:mdc@1.0.0` (using `api.imply`).

[2017-02-03 23:49] Zodiase commented on #60
Do you mean, in the first case, event handlers like `'click .js-set-type' (event, tplInst) {}` wouldn't work? That's interesting... I've not encountered it yet.

[2017-02-03 23:54] Zodiase commented on #60
What is the `"close menu event"` you are talking about?

[2017-02-04 00:10] arist0tl3 commented on #60
So I was having issues with the mdl menus remaining open even after a selection had been made. I thought this was related to top-level mdl components within {{#if}} and {{#each}} tags, but I am not able to reproduce this now.

I'd say close this for now? Sorry!

[2017-02-04 00:45] #60 closed, assigned to nobody

[2017-02-04 01:51] Zodiase commented on #60
The menu component detects clicks on items and then closes the menu. So technically if you intercepted the clicks and did something like `event.preventDefault(); event.stopPropagation();`, then most likely the menu wouldn't close. I had to use this deliberately to make a drop-down select list with search controls and other stuff in it. Some of the controls shouldn't close the menu.

[2017-02-06 15:47] VioletaCalvo commented on #39
Hi! Any solution for this?
Thank you for your package!!! :blush:

[2017-02-09 03:47] arist0tl3 opened #61 "Working with a dynamic Stepper component"
I know this is outside of the scope of this project currently, but I think the Stepper component is a big value add, and making it work with meteor-mdl seems pretty straightforward.

I'm working with https://github.com/ahlechandre/mdl-stepper, and have things working well with auto-upgraded stepper components.

However, I'm doing something like this:

[code]

When I add steps dynamically, I need t

[2017-03-12 01:54] iandoesallthethings opened #62 "Is there a method to hide the snackbar?"
Clicking the action button doesn't dismiss or hide it, meaning you can continually click the same action button. I can't seem to find any way to do it programmatically before its timeout.

[2017-03-12 02:15] iandoesallthethings commented on #62
Nevermind! I found it:

 `snackbarContainer.classList.remove("mdl-snackbar--active");
`

[2017-03-12 02:15] #62 closed, assigned to nobody

[2017-03-13 15:26] Zodiase commented on #62
@denkyuu I wouldn't recommend operating class lists directly. [The official guide](https://getmdl.io/components/index.html#snackbar-section) doesn't show examples of hiding the snackbar messages, however the API exists: https://github.com/google/material-design-lite/blob/mdl-1.x/src/snackbar/snackbar.js#L136

[code]

is probably what you want.

Also, preventing multiple triggering of some action i

[2017-03-13 17:48] iandoesallthethings commented on #62
I tried that, but it's throwing this:
`Uncaught TypeError: snackbarContainer.MaterialSnackbar.hideSnackbar is not a function at HTMLButtonElement.actionHandler (rehearsals.js:110)`

I'm 99% sure I'm fully updated, too. This is what I've got:

[code]

[2017-03-13 18:08] Zodiase commented on #62
@denkyuu Sorry about the confusion. Apparently the `hideSnackbar` hasn't made into the latest official release of MDL (1.3).

[2017-03-13 18:23] Zodiase commented on #62
@denkyuu Until that API update is released, the closest you can get is:

[code]

but doing so has its own bugs (probably why there wasn't a "hide" method in the first place). For example if you have consecutive snackbar messages, doing so would mess up the animation.

Here's a demo: https://github.com/Zodiase/Meteor-Tests/tree/mdl-snackbar

Clicking the `Show Snackbar` button multiple times to que

[2017-03-14 21:29] iandoesallthethings commented on #62
Ah, that answers my question. The cleanup function definitely is closest to what I was wanting, but you're right, it does bug out the animation pretty badly. It still looks like the hangup is related to the timeout.

Thanks for the help!

[2017-03-25 17:19] davidho8087 opened #63 "zodiase:mdl > Settings file ignored: {zodiase:mdl}/zodiase-mdl.json"
HI,
I would like to ask why this message `zodiase:mdl > Settings file ignored: {zodiase:mdl}/zodiase-mdl.json` always promped in server each time the server refresh or rebuild?
For your information that i have the below setting in `zodiase-mdl.json` :
[code]
It this a problem ? if it is not , then how to hide/disable this log?
Here from you soon . Thanks!

[2017-03-26 10:58] Zodiase commented on #63
No this does not indicate a problem.

I hope users could only put the config file under root directory to avoid confusion but the build plugin (in this package) actually sees all files matching the name so in a very early version I decided to show a message for every config file that's not in the root directory (so users know they have put the file in a wrong place).

Everything was fine until one

[2017-03-26 11:01] Zodiase commented on #63
And... there's no way for you to hide it. If it really bothers you I could add an extra check (which I don't think is needed in the first place) to see if the config file is under any package.

[2017-03-26 13:08] davidho8087 commented on #63
Hi,
Thank you for your explanation. I just leave this message since it can't change anything.
let me know if there is any changes in future.

[2017-03-26 13:08] #63 closed, assigned to nobody

[2017-03-26 13:12] davidho8087 commented on #59
zodiase:mdl@2.0.0 released?

[2017-03-27 14:47] Zodiase commented on #59
@1073113 No, not yet. The official MDC (Material Components) is currently still at version `0.7.0` which means things are still up to change.

[2017-04-04 17:42] Antoine-O opened #64 "try to make https://www.npmjs.com/package/ugosansh-mdl-datepicker works with zodiase"
Hi there,

This is not really a bug but I am struggling with it.
any guess on how to do it ?

Thanks :)

[2017-04-04 21:40] Zodiase commented on #64
Do you have a more specific problem you are encountering? Something reproducible?

[2017-04-04 21:42] Zodiase commented on #61
I guess what you need is to prevent mdl from auto upgrading anything inside `class="mdl-stepper"`?

[2017-04-04 22:31] Antoine-O commented on #64
i imported the min.js as specified but the system is not able to find
componentHandler
it replaced it with MDl.componentHandler without success

[2017-05-28 20:55] arist0tl3 opened #65 "Any way to avoid download assets when running tests"
Hey,

just wondering if there is a way to avoid downloading the assets when running tests on something like CircleCI? We're currently caching as much as possible, but a good chunk of our tests look like:

[code]

Thanks in advance!

[2017-05-29 04:03] Zodiase commented on #65
I think if you are using your project dev files for testing then all the downloading is unavoidable and quite necessary (to reproduce the setup and installation process of the project). I'd assume your testing environment also have to install Meteor or other packages as well? IMO all those are essential part of the testing (when against the dev files).

The better way I think is to only test the p

[2017-07-15 22:51] ordokr opened #66 "Color changes"
Thank you Xingchen for your help via e-mail, I am posting here as you asked.

I basically copied all of contents of the files in https://github.com/Zodiase/meteor-mdl/tree/master/integration-tests/sass

and on my project I got the custom colors, and could do my own custom colors, but the buttons and other mdl effects were not there.  When I removed the {  "theme": false }  on the zodiase mdl json

[2017-07-16 05:05] Zodiase commented on #66
Do you have the SCSS Meteor package installed (to handle `.scss` files)?

[2017-07-17 14:21] ordokr commented on #66
I didn't install anything like that yet no, could you recommend which package and /or command to enter to download it?

[2017-07-17 15:22] Zodiase commented on #66
I think this one here is what people would typically use in Meteor. https://atmospherejs.com/fourseven/scss

Simply run `meteor add fourseven:scss` in your app directory to install it to the app. After which it would be building `.scss` files into the final JavaScript bundle so that your code in `mdl.scss`, for example, would finally take effect.

As to placement of any `.html` or other files, ple

[2017-07-19 17:20] ordokr commented on #66
Okay, that brings me one step further to a solution, but when I launch the app via meteor cmd, I get the error:

[code]

[2017-07-19 17:40] ordokr commented on #66
So basically I have a basic app with

mdl.scss file
// Load color definitions to use.
$trim-color-classes: true;

$color-primary: "62,80,98";
$color-primary-dark: "43,56,67";
$color-accent: "115,171,184";

// Load mdl.
@import '{zodiase:mdl}/theme';

a zodiase-mdl.json file with
{
  "theme": false
}

and that's the only thing I changed, should I also change the scss files in the .meteor\packages\z

[2017-07-19 18:25] Zodiase commented on #66
You shouldn't need to change any files not in your project.

Could you provide the output of running `meteor list` in your project?

[2017-07-20 00:14] ordokr commented on #66
Sure thing,
[code]

[2017-07-20 00:16] ordokr commented on #66
I tried meteor update, but it gave me this message
[code]

[2017-07-20 01:20] Zodiase commented on #66
Like I said in the email, you need the latest version of `zodiase:mdl`. But due to dependency constrains, you won't be able to use the latest version of `fourseven:scss` unfortunately.

Simply run these commands in your project, one at a time (ignore the comments):
[code]

This would ensure you install the proper version of `fourseven:scss` that satisfies the dependencies of `zodiase:mdl`.

Let me

[2017-07-20 18:55] ordokr commented on #66
Thank you for helping me to solve this, I did that and it updated everything.  However, I got

[code]
after trying to launch, typing in just meteor

And my app still has the default blue and pink colors.  I'm thinking it has something to do with the json file.

Again I want to say I appreciate the help, and if I can do anything to help you, I'd be happy to do it.

[2017-07-21 23:15] Zodiase commented on #55
Did you eventually get over this issue? Can this be closed now?

[2017-07-21 23:16] Zodiase commented on #42
I take the last response as this issue may be closed. If you need more help please comment below.

[2017-07-21 23:16] #42 closed, assigned to nobody

[2017-07-21 23:17] Zodiase commented on #39
@VioletaCalvo Without a reproduction I can't help much. Are you still experiencing this issue?

[2017-07-21 23:28] Zodiase commented on #66
See #63 to learn more about the potentially annoying log you are seeing.

As of why it's still not working for you, I couldn't tell unless I have the reproduction. I would suggest start modifying based on the SASS example app since it's definitely working. You could also verify each piece is working properly, step by step.

For example, make sure `mdl.scss` is in effect by, say, adding a bizarre p

[2017-07-22 15:26] ordokr commented on #66
It was actually something dumb I did, I had removed zodiase and tried to apply mdl styling via an external mdl.js, and forget to remove the stylesheets in the header of my main html.  Sorry for all the trouble!  Now it works as desired!  Many thanks to you Xingchen, it's a great piece of code you put together!

![fixed](https://user-images.githubusercontent.com/26442816/28492386-5eaa75a4-6ed0-11e7

[2017-07-22 21:45] Zodiase commented on #66
Good to know it's finally working for you! I'm closing this one as the issue has been resolved.

[2017-07-22 21:45] #66 closed, assigned to nobody

[2017-08-01 16:58] ordokr opened #67 "mdl-color-text--white override?"
I am trying to override the accent and primary color on the text on my buttons via mdl-color-text--white, but it doesn't seem to work.  Is there a css fix or can I do it through zodiase?

Basically I want white text with a dark background, and onclick I want the text to remain white.

Here is a pic and then my html

![buttoncolor](https://user-images.githubusercontent.com/26442816/28836892-c4ec36e

[2017-08-01 17:24] #67 closed, assigned to nobody

[2017-10-04 08:14] Antoine-O opened #68 "Fourseven upgrade not recommended ?"
Hello I am trying to upgrade fourseven:css to the last version, can I use --allow-incompatible-update ?

meteor add fourseven:scss@4.5.4
 => Errors while adding packages:

While selecting package versions:
error: Potentially incompatible change required to top-level dependency: zodiase:mdl 1.0.6_2, was 1.3.0.
Constraints on package "zodiase:mdl":

To allow potentially incompatible changes to top-l

[2017-11-01 08:34] Antoine-O commented on #68
I am currently stuck with this as I can't install 1.3.0 because :

        Cannot download "https://github.com/sass/node-sass/releases/download/v3.13.0/win32-ia32-57_binding.node":

If you have some idea on how to fix it, I'll be sooooo glad.

[2017-11-01 16:23] Zodiase commented on #68
@Antoine-O I have a somewhat ad-hoc solution for you (until I release a new patch).

- First make sure your project is under proper version control so we don't mess up anything...
- Then stop the Meteor instance if it's running.
- If you encounter any strange errors below, complaining about version incompatibility, you probably need to uninstall both `zodiase:mdl` and `fourseven:scss` first, in th

[2017-11-01 16:38] Zodiase commented on #68
Added the two steps (in bold) I missed. Now I realize there might be another issue. `zodiase:mdl-assets` uses two symlinks. Not sure if they would work fine for you on Windows. Crossing my fingers.

[2017-11-01 19:11] Zodiase commented on #68
@Antoine-O Hey, good news! With the latest release `zodiase:mdl@1.3.0_1`, you should be able to use `fourseven:scss@4.5.4`! And never mind the workaround steps above.

[2017-11-01 19:11] #68 closed, assigned to nobody

[2017-11-02 09:43] Antoine-O commented on #68
Thanks @Zodiase ! It seems to work so far :)
Anyway the steps above maybe useful in a near future ;)

[2017-12-15 00:55] wildhart opened #69 "Why are the packages so large?"
More of a question than a bug: why are the zodiase_mdl and zodiase_mdl-assets packages so big?  They are by far the biggest packages except for meteor tool itself:

After a starting my app on a fresh c9.io instance:
[code]
This makes it harder to use on a free c9.io instance which only has 2GB.

What are all these files??  Are there any parts I can safely delete if I'm not building for cordova?

T

[2017-12-17 23:37] Zodiase commented on #69
I took a look and the finds also confuse me. There are a few factors in play.

And BTW we are talking about development here. Ideally you could develop on your own machine and only deploy to the server with limited storage space.

First and foremost is the assets themselves. In order to support loading all the css and SCSS files from material-design-lite by code, the assets package has to include

[2017-12-17 23:48] wildhart commented on #69
Thanks for the information @Zodiase.  Anything you can do to remove the duplication would be great.

Yes, I am talking about development.  One location I work has a very restrictive firewall so even installing meteor and npm is impossible, so I was trying to do development in the cloud because I can access c9.io in a web browser with no problem.  This is what led me to discover that the mdl packag

[2017-12-21 15:14] Antoine-O commented on #40
I have done the following concerning initializing switch status , this is the only way I found :/

[code]

[2018-02-10 21:43] Antoine-O opened #70 "Checkbox "not checked" correctly"
hello !

Everything worked fine so far but I noticed some days ago that on production checkbox are highlighted but not checked... see below
![image](https://user-images.githubusercontent.com/9453869/36066942-a9bc27a8-0eb3-11e8-9640-753b17fd08b2.png)

The funny thing is that it works as expected in developpement but not in production.

Any guess ?

[2018-06-09 21:19] Angular-Angel opened #73 "Zodiase-mdl not working on client after 1.7"
I have the zodiase-mdl.json file in my project, and it even seems to process on the server side, but the client resolutely refuses to acknowledge it. Am I supposed to import it somehow? I did start a new project because I couldn’t solve another problem on update, so maybe my package.json is different now in some way that prevents it from being processed on the client. :/

[2018-06-10 01:26] Angular-Angel commented on #73
Huh. I tried including a theme in the zodiase-mdl.json file, and it worked. I'm still getting errors about "MDl disabled. Create a file named 'zodiase-mdl.json' at the root of the app to enable." in the console though, and my "mdl-layout__content" div isn't expanding to use the whole screen anymore like it used to. :/

[2018-07-06 14:01] richard-fairthorne opened #74 "Example from MDL manual renders incorrectly"
https://jsfiddle.net/netwiz101/tu21rhkv/3/

This example from the manual renders and operates correctly at jsfiddle, but does not render as expected with zodiase:mdl

1. Tabs are unresponsive
2. Hamburger menu does not appear
3. Spacing and rendering is just not correct.

This is a distilled example from the manual.

Is this a bug, or am I missing something? Any assistance appreciated.

![screen s

[2020-03-30 19:51] GrimmiMeloni commented on #73
I ran into this problem this week as well, while taking a really large upgrade from Meteor 1.4.x to 1.10. While upgrading I adopted the notion to add a `package.json` in the meteor project's root. (As my project really started back with Meteor 0.8 or so, it did not have all those things, and it felt the right thing to do.)

Now, starting with Meteor 1.7 a feature was introduced, to explicitly stat